[access "refs/*"]
        create = group openstack-ci-core
        pushtag = group openstack-ci-core
[access "refs/heads/*"]
        label-approved = +0..+1 group openstack-ci-core
        label-code-review = -2..+2 group openstack-ci-core
[project]
        state = active
[receive]
        requirechangeid = true
[submit]
        mergecontent = true
