[access "refs/*"]
        owner = group Administrators
        pushtag = group openstack-ci-core
        create = group openstack-ci-core
[access "refs/for/refs/heads/upstream/*"]
        pushmerge = group openstack-ci-core
[access "refs/heads/*"]
        label-code-review = -2..+2 group openstack-ci-core
        label-approved = +0..+1 group openstack-ci-core
        forgeauthor = group openstack-ci-admins
[access "refs/heads/upstream/*"]
        push = group openstack-ci-core
        forgeauthor = group openstack-ci-core
        forgecommitter = group openstack-ci-core
        pushmerge = group openstack-ci-core
        pushtag = group openstack-ci-core
        create = group openstack-ci-core
[receive]
        requirechangeid = true
[submit]
        mergecontent = true
