[access "refs/heads/*"]
        label-code-review = -2..+2 group openstack-ci-admins
        label-approved = +0..+1 group openstack-ci-admins
[access "refs/meta/config"]
        label-approved = +0..+1 group openstack-ci-admins
        label-code-review = -2..+2 group openstack-ci-admins
        label-verified = -2..+2 group openstack-ci-admins
        submit = group openstack-ci-admins
[project]
        state = active
[receive]
        requirechangeid = true
[submit]
        mergecontent = true
        action = cherry pick
