[access "refs/heads/*"]
        label-Code-Review = -2..+2 group activity-board-core
        label-Workflow = -1..+1 group activity-board-core
[access "refs/tags/*"]
        create = group activity-board-core
        pushSignedTag = group activity-board-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true

