[access "refs/heads/*"]
abandon = group gearman-plugin-core
label-Code-Review = -2..+2 group gearman-plugin-core
label-Workflow = -1..+1 group gearman-plugin-core

[access "refs/tags/*"]
pushSignedTag = group gearman-plugin-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
