[access "refs/heads/*"]
        label-Code-Review = -2..+2 group gerrit-powered-agenda-core
        label-Workflow = -1..+1 group gerrit-powered-agenda-core
[access "refs/tags/*"]
        create = group gerrit-powered-agenda-ptl
        pushTag = group gerrit-powered-agenda-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
