[access "refs/*"]
        pushTag = group openstack-ci-core
        create = group openstack-ci-core
[access "refs/for/refs/heads/upstream/*"]
        pushMerge = group openstack-ci-core
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group openstack-ci-core
        label-Approved = +0..+1 group openstack-ci-core
        forgeAuthor = group openstack-ci-admins
        workInProgress = group openstack-ci-admins
[access "refs/heads/upstream/*"]
        push = group openstack-ci-core
        forgeAuthor = group openstack-ci-core
        forgeCommitter = group openstack-ci-core
        pushMerge = group openstack-ci-core
        pushTag = group openstack-ci-core
        create = group openstack-ci-core
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
