[access "refs/*"]
create = group infra-core
pushSignedTag = group infra-core

[access "refs/for/refs/heads/upstream/*"]
pushMerge = group infra-core

[access "refs/heads/*"]
abandon = group infra-core
forgeAuthor = group infra-core
label-Code-Review = -2..+2 group infra-core
label-Workflow = -1..+1 group infra-core

[access "refs/heads/upstream/*"]
create = group infra-core
forgeAuthor = group infra-core
forgeCommitter = group infra-core
push = group infra-core
pushMerge = group infra-core
pushSignedTag = group infra-core

[receive]
requireChangeId = true

[submit]
mergeContent = true
