[access "refs/heads/*"]
        label-Approved = +0..+1 group gitdm-core
        label-Code-Review = -2..+2 group gitdm-core
[access "refs/tags/*"]
        create = group gitdm-core
        pushTag = group gitdm-core
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = cherry pick
