[access "refs/heads/*"]
abandon = group groups-static-pages-core
label-Code-Review = -2..+2 group groups-static-pages-core
label-Workflow = -1..+1 group groups-static-pages-core

[access "refs/tags/*"]
pushSignedTag = group groups-static-pages-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
