[access "refs/*"]
        create = group groups-core
        pushSignedTag = group groups-core
[access "refs/heads/*"]
        label-Workflow = -1..+1 group groups-core
        label-Code-Review = -2..+2 group groups-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
