[access "refs/heads/*"]
        label-Code-Review = -2..+2 group groups-static-pages-core
        label-Approved = +0..+1 group groups-static-pages-core
        workInProgress = group groups-static-pages-core
[access "refs/tags/*"]
        create = group groups-static-pages-ptl
        pushTag = group groups-static-pages-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true