[access "refs/heads/*"]
abandon = group infra-manual-core
label-Code-Review = -2..+2 group infra-manual-core
label-Workflow = -1..+1 group infra-manual-core

[access "refs/tags/*"]
pushSignedTag = group infra-manual-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
