[access "refs/heads/*"]
        label-Code-Review = -2..+2 group infra-manual-core
        label-Approved = +0..+1 group infra-manual-core
        workInProgress = group infra-manual-core
[access "refs/tags/*"]
        create = group infra-manual-ptl
        pushTag = group infra-manual-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
