[access "refs/heads/*"]
        label-Workflow = -1..+1 group jenkins-job-builder-core
        label-Code-Review = -2..+2 group jenkins-job-builder-core
[access "refs/tags/*"]
        create = group jenkins-job-builder-ptl
        pushSignedTag = group jenkins-job-builder-ptl
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
