[access "refs/heads/*"]
abandon = group jenkins-job-builder-core
label-Code-Review = -2..+2 group jenkins-job-builder-core
label-Workflow = -1..+1 group jenkins-job-builder-core

[access "refs/tags/*"]
pushSignedTag = group jenkins-job-builder-ptl

[receive]
requireChangeId = true

[submit]
mergeContent = true
