[access "refs/for/refs/*"]
pushMerge = group infra-core

[access "refs/heads/*"]
abandon = group infra-core
label-Code-Review = -2..+2 group infra-core
label-Workflow = -1..+1 group infra-core

[access "refs/tags/*"]
pushSignedTag = group infra-core

[receive]
requireChangeId = true

[submit]
mergeContent = true
