[access "refs/heads/*"]
        label-Code-Review = -2..+2 group openstackid-core
        label-Workflow = -1..+1 group openstackid-core
[access "refs/tags/*"]
        create = group openstackid-ptl
        pushTag = group openstackid-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
