[access "refs/heads/*"]
        label-Code-Review = -2..+2 group os-loganalyze-core
        label-Approved = +0..+1 group os-loganalyze-core
        workInProgress = group os-loganalyze-core
[access "refs/tags/*"]
        create = group os-loganalyze-core
        pushTag = group os-loganalyze-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true