[access "refs/heads/*"]
        label-Code-Review = -2..+2 group os-loganalyze-core
        label-Workflow = -1..+1 group os-loganalyze-core
[access "refs/tags/*"]
        create = group os-loganalyze-core
        pushSignedTag = group os-loganalyze-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true