[access "refs/heads/*"]
        label-Code-Review = -2..+2 group openstack-ci-admins
        label-Workflow = -1..+1 group openstack-ci-admins
[access "refs/tags/*"]
        create = group openstack-ci-admins
        pushSignedTag = group openstack-ci-admins
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
