[access "refs/heads/*"]
abandon = group infra-core
label-Code-Review = -2..+2 group infra-core
label-Workflow = -1..+1 group infra-core

[access "refs/meta/config"]
abandon = group infra-core
label-Code-Review = -2..+2 group infra-core
label-Verified = -2..+2 group infra-core
label-Workflow = -1..+1 group infra-core
submit = group infra-core

[receive]
requireChangeId = true

[submit]
mergeContent = true
