[access "refs/heads/*"]
        label-Code-Review = -2..+2 group openstack-ci-core
        label-Workflow = -1..+1 group openstack-ci-core
        abandon = group openstack-ci-core
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
