[access "refs/heads/*"]
        label-Code-Review = -2..+2 group openstack-reviewday
        label-Workflow = -1..+1 group openstack-reviewday
[access "refs/tags/*"]
        create = group openstack-reviewday
        pushSignedTag = group openstack-reviewday
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
