[access "refs/*"]
create = group storyboard-core
pushSignedTag = group storyboard-core

[access "refs/heads/*"]
abandon = group storyboard-core
label-Code-Review = -2..+2 group storyboard-core
label-Workflow = -1..+1 group storyboard-core

[receive]
requireChangeId = true

[submit]
mergeContent = true
