[receive]
   requireChangeId = true
   requireContributorAgreement = true
[submit]
   mergeContent = true
[access "refs/heads/*"]
   label-Code-Review = -2..+2 group toci-core
   label-Workflow = -1..+1 group toci-core
[access "refs/heads/milestone-proposed"]
   label-Code-Review = -2..+2 group toci-core
   label-Workflow = -1..+1 group toci-core
