[access "refs/heads/*"]
        label-Code-Review = -2..+2 group openstack-infra-packagers
        label-Approved = +0..+1 group openstack-infra-packagers
        workInProgress = group openstack-infra-packagers
[access "refs/tags/*"]
        create = group openstack-infra-packagers
        pushTag = group openstack-infra-packagers
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
