[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group opencontrail-ci-admins
	label-Approved = +0..+1 group opencontrail-ci-admins
	workInProgress = group opencontrail-ci-admins
[receive]
	requireChangeId = true
	requireShortMessage = true
[submit]
	mergeContent = true
[project]
	state = active
[access "refs/meta/config"]
	label-Approved = +0..+1 group opencontrail-ci-admins
	label-Code-Review = -2..+2 group opencontrail-ci-admins
	label-Verified = -2..+2 group opencontrail-ci-admins
	submit = group opencontrail-ci-admins
