# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
hacking!=0.13.0,<0.14,>=0.12.0 # Apache-2.0
bashate>=0.2 # Apache-2.0
PyYAML>=3.10.0 # MIT
ansible-lint
openstacksdk
zuul-sphinx>=0.2.3
testtools
mock
# testinfra 1.17.0 has a broken wheel that won't install under python3
testinfra!=1.17.0
