{{ logrotate_file_name }} {
{% if logrotate_compress %} compress {% endif %}
{% if logrotate_copytruncate %} copytruncate {% endif %}
{% if logrotate_delaycompress %} delaycompress {% endif %}
{% if logrotate_missingok %} missingok {% endif %}
 rotate {{ logrotate_rotate }}
{% if logrotate_daily %} daily {% endif %}
{% if logrotate_notifempty %} notifempty {% endif %}
}
