[access "refs/*"]
        owner = group Administrators
        create = group chef-manager-core
[access "refs/heads/stable/*"]
        label-Code-Review = -2..+2 group chef-manager-core
        label-Approved = +0..+1 group chef-manager-core
        exclusiveGroupPermissions = label-Code-Review label-Approved
        workInProgress = group chef-manager-core
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group chef-manager-core
        label-Approved = +0..+1 group chef-manager-core
        workInProgress = group chef-manager-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
