[access "refs/*"]
        owner = group Administrators
        create = group clouddocs-maven-plugin-core
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group clouddocs-maven-plugin-core
        label-Approved = +0..+1 group clouddocs-maven-plugin-core
        workInProgress = group clouddocs-maven-plugin-core
[access "refs/tags/*"]
        pushTag = group clouddocs-maven-plugin-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
