[access "refs/heads/*"]
        label-Code-Review = -2..+2 group cloud-cafe-core
        label-Approved = +0..+1 group cloud-cafe-core
        workInProgress = group cloud-cafe-core
[access "refs/tags/*"]
        create = group cloud-cafe-core
        pushTag = group cloud-cafe-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
