[access "refs/heads/*"]
        label-Code-Review = -2..+2 group compass-core
        label-Approved = +0..+1 group compass-core
        workInProgress = group compass-core
[access "refs/tags/*"]
        create = group compass-ptl
        pushTag = group compass-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
