[access "refs/heads/*"]
        label-Code-Review = -2..+2 group congress-core
        label-Approved = +0..+1 group congress-core
        workInProgress = group congress-core
[access "refs/tags/*"]
        create = group congress-core
        pushTag = group congress-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
