[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group designate-milestone
        label-Approved = +0..+1 group designate-milestone
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -1..+1 group Registered Users
[access "refs/heads/stable/*"]
        create = group designate-milestone
        label-Code-Review = -2..+2 group designate-milestone
        label-Approved = +0..+1 group designate-milestone
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -1..+1 group Registered Users
[access "refs/heads/release-*"]
        label-Code-Review = -2..+2 group designate-milestone
        label-Approved = +0..+1 group designate-milestone
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -1..+1 group Registered Users
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group designate-core
        label-Approved = +0..+1 group designate-core
        workInProgress = group designate-core
[access "refs/tags/*"]
        create = group designate-milestone
        pushTag = group designate-milestone
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
