[access "refs/heads/*"]
        label-Code-Review = -2..+2 group entropy-core
        label-Approved = +0..+1 group entropy-core
        workInProgress = group entropy-core
[access "refs/tags/*"]
        create = group entropy-core
        pushTag = group entropy-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
