[access "refs/heads/*"]
        label-Code-Review = -2..+2 group golang-client-core
        label-Approved = +0..+1 group golang-client-core
        workInProgress = group golang-client-core
[access "refs/tags/*"]
        create = group golang-client-core
        pushTag = group golang-client-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true