[access "refs/*"]
        owner = group Administrators
        create = group healthnmon-core
        pushTag = group healthnmon-core
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group healthnmon-core
        label-Approved = +0..+1 group healthnmon-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
