[access "refs/heads/*"]
        label-Code-Review = -2..+2 group heat-translator-core
        label-Approved = +0..+1 group heat-translator-core
        workInProgress = group heat-translator-core
[access "refs/tags/*"]
        create = group heat-translator-ptl
        pushTag = group heat-translator-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
