[access "refs/heads/*"]
        label-Code-Review = -2..+2 group inception-core
        label-Approved = +0..+1 group inception-core
        workInProgress = group inception-core
[access "refs/tags/*"]
        create = group inception-core
        pushTag = group inception-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
