[access "refs/heads/*"]
        label-Code-Review = -2..+2 group milk-core
        label-Approved = +0..+1 group milk-core
        workInProgress = group milk-core
[access "refs/tags/*"]
        create = group milk-core
        pushTag = group milk-core
[receive]
        requireChangeId = true
        requireContributorAgreement = false
[submit]
        mergeContent = true
