[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group mistral-milestone
        label-Approved = +0..+1 group mistral-milestone
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -1..+1 group Registered Users
[access "refs/heads/stable/*"]
        label-Code-Review = -2..+2 group mistral-milestone
        label-Approved = +0..+1 group mistral-milestone
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -1..+1 group Registered Users
[access "refs/heads/release-*"]
        label-Code-Review = -2..+2 group mistral-milestone
        label-Approved = +0..+1 group mistral-milestone
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -1..+1 group Registered Users
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group mistral-core
        label-Approved = +0..+1 group mistral-core
        workInProgress = group mistral-core
[access "refs/tags/*"]
        create = group mistral-milestone
        pushTag = group mistral-milestone
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
