[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-Approved = +0..+1 group mraas-core
        label-Code-Review = -2..+2 group mraas-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireShortMessage = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
