[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group murano-milestone
        label-Approved = +0..+1 group murano-milestone
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -1..+1 group Registered Users
[access "refs/heads/stable/*"]
        label-Code-Review = -2..+2 group murano-milestone
        label-Approved = +0..+1 group murano-milestone
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -1..+1 group Registered Users
[access "refs/heads/release-*"]
        label-Code-Review = -2..+2 group murano-milestone
        label-Approved = +0..+1 group murano-milestone
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -1..+1 group Registered Users
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group murano-core
        label-Approved = +0..+1 group murano-core
        workInProgress = group murano-core
        create = group murano-milestone
[access "refs/tags/*"]
        create = group murano-milestone
        pushTag = group murano-milestone
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
