[access "refs/heads/*"]
        label-Code-Review = -2..+2 group novaimagebuilder-core
        label-Approved = +0..+1 group novaimagebuilder-core
        workInProgress = group novaimagebuilder-core
[access "refs/tags/*"]
        create = group novaimagebuilder-core
        pushTag = group novaimagebuilder-core
[receive]
        requireChangeId = true
        requireContributorAgreement = false
[submit]
        mergeContent = true
