[access "refs/heads/*"]
        label-Code-Review = -2..+2 group dotnet-sdk-core
        label-Approved = +0..+1 group dotnet-sdk-core
        workInProgress = group dotnet-sdk-core
[access "refs/tags/*"]
        create = group dotnet-sdk-ptl
        pushTag = group dotnet-sdk-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true