[access "refs/heads/*"]
        label-Code-Review = -2..+2 group openvz-nova-driver-core
        label-Approved = +0..+1 group openvz-nova-driver-core
        workInProgress = group openvz-nova-driver-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group openvz-nova-driver-core
        label-Approved = +0..+1 group openvz-nova-driver-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
