[access "refs/heads/*"]
        label-Code-Review = -2..+2 group ospurge-core
        label-Approved = +0..+1 group ospurge-core
        workInProgress = group ospurge-core
[access "refs/tags/*"]
        create = group ospurge-ptl
        pushTag = group ospurge-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = false
[submit]
        mergeContent = true
