[access "refs/heads/*"]
        label-Code-Review = -2..+2 group python-ipmi-core
        label-Approved = +0..+1 group python-ipmi-core
        workInProgress = group python-ipmi-core
[access "refs/tags/*"]
        create = group python-ipmi-core
        pushTag = group python-ipmi-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
