[access "refs/heads/*"]
        label-Code-Review = -2..+2 group manila-core
        label-Approved = +0..+1 group manila-core
        workInProgress = group manila-core
[access "refs/tags/*"]
        create = group manila-ptl
        pushTag = group manila-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
