[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group python-openstacksdk-core
        label-Approved = +0..+1 group python-openstacksdk-core
[access "refs/tags/*"]
        create = group python-openstacksdk-ptl
        pushTag = group python-openstacksdk-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
