[access "refs/heads/*"]
        label-Code-Review = -2..+2 group barbican-core
        label-Approved = +0..+1 group barbican-core
        workInProgress = group barbican-core
[access "refs/tags/*"]
        create = group barbican-core
        pushTag = group barbican-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true

