[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group designate-core
        label-Approved = +0..+1 group designate-core
[access "refs/tags/*"]
        create = group designate-milestone
        pushTag = group designate-milestone
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
