[access "refs/*"]
        owner = group Administrators
        create = group rally-core
        pushTag = group rally-core
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group rally-core
        label-Approved = +0..+1 group rally-core
        workInProgress = group rally-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true