[access "refs/heads/*"]
    label-Code-Review = -2..+2 group refstack-core
    label-Approved = +0..+1 group refstack-core
    workInProgress = group refstack-core
[access "refs/tags/*"]
    create = group refstack-ptl
    pushTag = group refstack-ptl
[receive]
    requrieChangeId = true
    requireContributorAgreement = true
[submit]
    mergeContent = true
