[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group satori-core
        label-Approved = +0..+1 group satori-core
[access "refs/tags/*"]
        create = group satori-ptl
        pushTag = group satori-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
