[access "refs/heads/*"]
        label-Code-Review = -2..+2 group savanna-guestagent-core
        label-Approved = +0..+1 group savanna-guestagent-core
        workInProgress = group savanna-guestagent-core
[access "refs/heads/stable/*"]
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -2..+2 group savanna-guestagent-core
        label-Approved = +0..+1 group savanna-guestagent-core
        label-Code-Review = -1..+1 group Registered Users
[access "refs/tags/*"]
        create = group savanna-guestagent-milestone
        pushTag = group savanna-guestagent-milestone
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
