[access "refs/*"]
        owner = group Administrators
        create = group stackalytics-core
        pushTag = group stackalytics-core
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group stackalytics-core
        label-Approved = +0..+1 group stackalytics-core
        workInProgress = group stackalytics-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true

