[access "refs/heads/*"]
        label-Code-Review = -2..+2 group turbo-hipster-core
        label-Approved = +0..+1 group turbo-hipster-core
        workInProgress = group turbo-hipster-core
[access "refs/tags/*"]
        create = group turbo-hipster-core
        pushTag = group turbo-hipster-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true