# Settings for the passcode-sending application
#
# Copyright 2013 Thierry Carrez <thierry@openstack.org>
# All Rights Reserved.
#
#    Licensed under the Apache License, Version 2.0 (the "License"); you may
#    not use this file except in compliance with the License. You may obtain
#    a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
#    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#    License for the specific language governing permissions and limitations
#    under the License.

EMAIL_SUBJECT = "Your registration code for OpenStack Summit in Portland"

EMAIL_TEMPLATE = """
Hello $name,

As you may already know, we'll be having our next OpenStack Summit
in Portland from April 15 to April 18, 2013. We issue free passes to
recent contributors to encourage them to join the OpenStack Summit
and participate to shaping the next release at the Design Summit.

You've been identified as a contributor in the Havana and/or Icehouse
development cycles and therefore have been granted a personal code
for free registration to the whole event. Please use the following
code:

$code

The registration site should open sometimes next week. Feel free to
email me with any question you may have.

Regards,

-- 
$signature
"""

EMAIL_FROM = "thierry@openstack.org"
EMAIL_SIGNATURE = "Thierry Carrez\nOpenStack Foundation"
EMAIL_HOST = "secure.emailsrvr.com"
EMAIL_PORT = 465
EMAIL_USER = "thierry.carrez@openstack.org"
EMAIL_PASSWORD = "MYPASSWORDHERE"
EMAIL_USE_SSL = True
EMAIL_USE_TLS = False
EMAIL_DEBUGLEVEL = 0
EMAIL_PAUSE = 2
