@import url('/cgit-data/cgit.css');

body {
  background: url("/static/openstack-page-bkg.jpg") no-repeat scroll 0 0 white !important;
}

div#cgit {
  background: transparent;
}

div#cgit table#header td.main {
  font-size: 200%;
  letter-spacing: -1px;
  color: #CF2F19;
}

div#cgit table.list {
  border-collapse: separate;
  border-spacing: 0;
}

div#cgit table.list th {
  border: 1px solid #ffffff;
  padding: 2px 6px 1px;
  background-color: #eef3f5;
  font-style: italic;
  white-space: nowrap;
  font-weight: normal;
}

div#cgit table.list th a {
  color: #264d69;
}

div#cgit table.list td.reposection {
  color: #264d69;
}

div#cgit table.list tr:nth-child(odd) {
  background: white;
}

div#cgit table.list tr:nth-child(even) {
  background: #f5f5ff;
}

div#cgit table.list td {
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px solid #eef3f5;
  border-bottom: 1px solid #eef3f5;
}

div#cgit table.list td a {
  color: #264d69;
}

div#cgit table.list td a:hover {
  color: black;
}

div#cgit table.list tr.nohover {
  background: #eef3f5;
}

div#cgit table.list tr.nohover:hover {
  background: #eef3f5;
}
