# /etc/aliases
mailer-daemon: postmaster
postmaster: root
nobody: root
hostmaster: root
usenet: root
news: root
webmaster: root
www: root
ftp: root
abuse: root
noc: root
security: root

{% for k, v in aliases|dictsort %}
{{ k }}: {{ v }}
{% endfor %}
