#
# Bridge all clouds
#
# This file is deployed to /etc/openstack/all-clouds.yaml on the
# bastion host and contains information for all cloud environments
# provided to OpenStack Infra.
#
# Providers have two projects:
#
# * openstack[zuul|jenkins]-provider
#    provides capacity for test nodes (jenkins being a legacy name
#    from pre-zuulv3 era)
# * openstackci-provider
#    provides capacity for control-plane.  Ranges from a single mirror
#    host to all our other services.
#
# This is used as required for global operations on all clouds.  The
# most important one being the "cloud-launcher" process which
# canonicalises all providers with correct keypairs and other
# configuration details.
#
# To manually operate on projects only in this file, you can redirect
# openstacksdk with
#
#  $ OS_CLIENT_CONFIG_FILE=/etc/openstack/all-clouds.yaml openstack ...
#

clouds:
  openstackci-inap:
    profile: internap
    auth:
      username: '{{ clouds.openstackci_internap_username }}'
      password: '{{ clouds.openstackci_internap_password }}'
      project_name: '{{ clouds.openstackci_internap_project_name }}'
    regions:
      - name: mtl01
        values:
          networks:
            - name: inap-17301-WAN1102
              routes_externally: True
  openstackjenkins-inap:
    profile: internap
    auth:
      username: '{{ clouds.openstackjenkins_internap_username }}'
      password: '{{ clouds.openstackjenkins_internap_password }}'
      project_name: '{{ clouds.openstackjenkins_internap_project_name }}'
    regions:
      - name: mtl01
        values:
          networks:
            - name: inap-17304-WAN1101
              routes_externally: True
  openstackci-ovh:
    regions:
      - GRA1
      - SBG1
      - BHS1
    profile: ovh
    # OVH has a weird new ipv6 setup that we can't handle properly
    # for now ignore ipv6
    force_ipv4: true
    auth:
      username: '{{ clouds.openstackci_ovh_username }}'
      password: '{{ clouds.openstackci_ovh_password }}'
      project_name: '{{ clouds.openstackci_ovh_project_name }}'
  openstackci-rax:
    regions:
      - DFW
      - ORD
      - IAD
    profile: rackspace
    auth:
      username: '{{ clouds.openstackci_rax_username }}'
      password: '{{ clouds.openstackci_rax_password }}'
      project_id: '{{ clouds.openstackci_rax_project_id }}'
  openstackjenkins-rax:
    regions:
      - DFW
      - ORD
      - IAD
    profile: rackspace
    auth:
      username: '{{ clouds.openstackjenkins_rax_username }}'
      password: '{{ clouds.openstackjenkins_rax_password }}'
      project_id: '{{ clouds.openstackjenkins_rax_project_id }}'
  openstackjenkins-ovh:
    regions:
      - GRA1
      - SBG1
      - BHS1
    profile: ovh
    # OVH has a weird new ipv6 setup that we can't handle properly
    # for now ignore ipv6
    force_ipv4: true
    auth:
      username: '{{ clouds.openstackjenkins_ovh_username }}'
      password: '{{ clouds.openstackjenkins_ovh_password }}'
      project_name: '{{ clouds.openstackjenkins_ovh_project_name }}'
  openstackjenkins-vexxhost:
    regions:
      - ca-ymq-1
      - sjc1
    profile: vexxhost
    auth:
      username: '{{ clouds.openstackjenkins_vexxhost_username }}'
      password: '{{ clouds.openstackjenkins_vexxhost_password }}'
      project_name: '{{ clouds.openstackjenkins_vexxhost_project_name }}'
      project_domain_name: default
      user_domain_name: default
  openstackci-vexxhost:
    regions:
      - ca-ymq-1
      - sjc1
    profile: vexxhost
    auth:
      username: '{{ clouds.openstackci_vexxhost_username }}'
      password: '{{ clouds.openstackci_vexxhost_password }}'
      project_name: '{{ clouds.openstackci_vexxhost_project_name }}'
      project_domain_name: default
      user_domain_name: default
  openstackci-citycloud:
    regions:
      - Kna1
      - La1
      - Lon1
      - Sto2
    profile: citycloud
    auth:
      # TODO(mordred) This auth_url entry is only needed until openstacksdk
      # 0.18.2 or 0.19.0 is released.
      auth_url: "https://{region_name}.citycloud.com:5000/v3/"
      username: '{{ clouds.openstackci_citycloud_username }}'
      password: '{{ clouds.openstackci_citycloud_password }}'
      project_name: 'Default Project 27611'
      project_domain_name: CCP_Domain_27611
      user_domain_name: CCP_Domain_27611
  openstackzuul-citycloud:
    regions:
      - Kna1
      - La1
      - Lon1
      - Sto2
    profile: citycloud
    auth:
      # TODO(mordred) This auth_url entry is only needed until openstacksdk
      # 0.18.2 or 0.19.0 is released.
      auth_url: "https://{region_name}.citycloud.com:5000/v3/"
      username: '{{ clouds.openstackzuul_citycloud_username }}'
      password: '{{ clouds.openstackzuul_citycloud_password }}'
      project_name: 'OpenStack CI Project'
      project_domain_name: 'CCP_Domain_27611'
      user_domain_name: 'CCP_Domain_27611'
  openstackci-linaro:
    regions:
      - RegionOne
    auth:
      auth_url: https://cn1.linaro.cloud:35357
      username: '{{ clouds.openstackci_linaro_username }}'
      password: '{{ clouds.openstackci_linaro_password }}'
      project_name: '{{ clouds.openstackci_linaro_project_name }}'
      project_domain_name: default
      user_domain_name: default
  openstackzuul-linaro:
    regions:
      - RegionOne
    auth:
      auth_url: https://cn1.linaro.cloud:35357
      username: '{{ clouds.openstackzuul_linaro_username }}'
      password: '{{ clouds.openstackzuul_linaro_password }}'
      project_name: '{{ clouds.openstackzuul_linaro_project_name }}'
      project_domain_name: default
      user_domain_name: default
  openstackci-linaro-london:
    regions:
      - London
    auth:
      auth_url: https://uk.linaro.cloud:5000
      username: '{{ clouds.openstackci_linaro_london_username }}'
      password: '{{ clouds.openstackci_linaro_london_password }}'
      project_name: '{{ clouds.openstackci_linaro_london_project_name }}'
      project_domain_name: default
      user_domain_name: default
  openstackzuul-linaro-london:
    regions:
      - London
    auth:
      auth_url: https://uk.linaro.cloud:5000
      username: '{{ clouds.openstackzuul_linaro_london_username }}'
      password: '{{ clouds.openstackzuul_linaro_london_password }}'
      project_name: '{{ clouds.openstackzuul_linaro_london_project_name }}'
      project_domain_name: default
      user_domain_name: default
    identity_api_version: 3
  openstackci-limestone:
    regions:
      - name: RegionOne
        values:
          networks:
            - name: "Gateway Network"
              routes_externally: false
              routes_ipv6_externally: true
              nat_destination: true
            - name: "Flat External"
              routes_externally: true
              nat_source: true
    auth:
      auth_url: https://osa.continuous.pw:5000
      username: '{{ clouds.openstackci_limestone_username }}'
      password: '{{ clouds.openstackci_limestone_password }}'
      project_name: '{{ clouds.openstackci_limestone_project_name }}'
      user_domain_name: default
      project_domain_name: default
    identity_api_version: 3
    cacert: /etc/openstack/limestone_cacert.pem
  openstackzuul-limestone:
    regions:
      - name: RegionOne
        values:
          networks:
            - name: "Gateway Network"
              routes_externally: false
              routes_ipv6_externally: true
              nat_destination: true
            - name: "Flat External"
              routes_externally: true
              nat_source: true
    auth:
      auth_url: https://osa.continuous.pw:5000
      username: '{{ clouds.openstackzuul_limestone_username }}'
      password: '{{ clouds.openstackzuul_limestone_password }}'
      project_name: '{{ clouds.openstackzuul_limestone_project_name }}'
      user_domain_name: default
      project_domain_name: default
    identity_api_version: 3
    cacert: /etc/openstack/limestone_cacert.pem
  openstackci-packethost:
    regions:
      - name: us-west-1
        values:
          networks:
            - name: openstackci-net
              default_interface: True
    auth:
      auth_url: https://packet.platform9.net/keystone
      username: '{{ clouds.openstackci_packethost_username }}'
      password: '{{ clouds.openstackci_packethost_password }}'
      project_name: '{{ clouds.openstackci_packethost_project_name }}'
      user_domain_name: default
      project_domain_name: default
  openstackzuul-packethost:
    regions:
      - name: us-west-1
        values:
          networks:
            - name: openstackzuul-net
              default_interface: True
    auth:
      auth_url: https://packet.platform9.net/keystone
      username: '{{ clouds.openstackzuul_packethost_username }}'
      password: '{{ clouds.openstackzuul_packethost_password }}'
      project_name: '{{ clouds.openstackzuul_packethost_project_name }}'
      user_domain_name: default
      project_domain_name: default
    identity_api_version: '3'

# Arm64 CI Cloud (depreciated - will be decommissioned at some point in the future - 2018-04-09)
  openstackci-arm64ci:
    regions:
      - nrt1
    auth:
      auth_url: https://arm64ci.cloud:5000
      username: '{{ clouds.openstackci_arm64ci_username }}'
      password: '{{ clouds.openstackci_arm64ci_password }}'
      project_name: '{{ clouds.openstackci_arm64ci_project_name }}'
      project_domain_name: openstack-infra
      user_domain_name: openstack-infra
    interface: public
    identity_api_version: '3'
  openstackzuul-arm64ci:
    regions:
      - nrt1
    auth:
      auth_url: https://arm64ci.cloud:5000
      username: '{{ clouds.openstackzuul_arm64ci_username }}'
      password: '{{ clouds.openstackzuul_arm64ci_password }}'
      project_name: '{{ clouds.openstackzuul_arm64ci_project_name }}'
      project_domain_name: openstack-infra
      user_domain_name: openstack-infra
    interface: public
    identity_api_version: '3'

# Arm64 CI Cloud (ewr1cloud)
  openstackci-arm64ci-ewr1:
    regions:
      - ewr1
    auth:
      auth_url: https://ewr1cloud.arm64ci.cloud:5000
      username: '{{ clouds.openstackci_arm64ci_ewr1_username }}'
      password: '{{ clouds.openstackci_arm64ci_ewr1_password }}'
      project_name: '{{ clouds.openstackci_arm64ci_ewr1_project_name }}'
      project_domain_name: openstack-infra
      user_domain_name: openstack-infra
    interface: public
    identity_api_version: '3'
  openstackzuul-arm64ci-ewr1:
    regions:
      - ewr1
    auth:
      auth_url: https://ewr1cloud.arm64ci.cloud:5000
      username: '{{ clouds.openstackzuul_ewr1_arm64ci_username }}'
      password: '{{ clouds.openstackzuul_ewr1_arm64ci_password }}'
      project_name: '{{ clouds.openstackzuul_ewr1_arm64ci_project_name }}'
      project_domain_name: openstack-infra
      user_domain_name: openstack-infra
    interface: public
    identity_api_version: '3'
