[access "refs/heads/*"]
        label-Code-Review = -2..+2 group activity-board-core
        label-Approved = +0..+1 group activity-board-core
        workInProgress = group activity-board-core
[access "refs/tags/*"]
        create = group activity-board-core
        pushTag = group activity-board-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true

