[access "refs/*"]
        create = group elastic-recheck-ptl
[access "refs/heads/*"]
        label-Approved = +0..+1 group elastic-recheck-core
        label-Code-Review = -2..+2 group elastic-recheck-core
        workInProgress = group elastic-recheck-core
[access "refs/tags/*"]
        create = group elastic-recheck-ptl
        pushTag = group elastic-recheck-ptl
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
