[access "refs/*"]
        create = group groups-core
        pushTag = group groups-core
[access "refs/heads/*"]
        label-Approved = +0..+1 group groups-core
        label-Code-Review = -2..+2 group groups-core
        workInProgress = group groups-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
