[access "refs/heads/*"]
        label-Code-Review = -2..+2 group opencontrailid-core
        label-Approved = +0..+1 group opencontrailid-core
        workInProgress = group opencontrailid-core
[access "refs/tags/*"]
        create = group opencontrailid-ptl
        pushTag = group opencontrailid-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
