[access "refs/heads/*"]
        label-Code-Review = -2..+2 group openstack-ci-admins
        label-Approved = +0..+1 group openstack-ci-admins
        workInProgress = group openstack-ci-admins
[access "refs/tags/*"]
        create = group openstack-ci-admins
        pushTag = group openstack-ci-admins
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
