[access "refs/heads/*"]
        label-Code-Review = -2..+2 group opencontrail-ci-admins
        label-Approved = +0..+1 group opencontrail-ci-admins
        workInProgress = group opencontrail-ci-admins
[access "refs/tags/*"]
        create = group opencontrail-ci-admins
        pushTag = group opencontrail-ci-admins
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
