[access "refs/heads/*"]
        label-Code-Review = -2..+2 group openstack-reviewday
        label-Approved = +0..+1 group openstack-reviewday
        workInProgress = group openstack-reviewday
[access "refs/tags/*"]
        create = group openstack-reviewday
        pushTag = group openstack-reviewday
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
