# This is just to ensure nodes defined in system-config-run-base for
# gate jobs are put in the right groups for testing
plugin: yamlgroup
groups:
  puppet:
    - trusty
    - xenial
    - bionic
    - centos7