# This is just to ensure nodes only defined in system-config-run-base
# for gate jobs are put in the right groups for testing
plugin: yamlgroup
groups:
  puppet:
    - trusty
    - xenial
    - centos7
    # note: bionic currently isn't puppeted

  docker:
    - bionic-docker

  letsencrypt:
    - letsencrypt01.opendev.org
    - letsencrypt02.opendev.org
