[access "refs/heads/*"]
        label-Code-Review = -2..+2 group askbot-theme-core
        label-Approved = +0..+1 group askbot-theme-core
        workInProgress = group askbot-theme-core
[access "refs/tags/*"]
        create = group askbot-theme-core
        pushTag = group askbot-theme-core
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
