[access "refs/*"]
        pushTag = group opencontrail-ci-core
        create = group opencontrail-ci-core
[access "refs/for/refs/heads/upstream/*"]
        pushMerge = group opencontrail-ci-core
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group opencontrail-ci-core
        label-Approved = +0..+1 group opencontrail-ci-core
        forgeAuthor = group opencontrail-ci-admins
        workInProgress = group opencontrail-ci-admins
[access "refs/heads/upstream/*"]
        push = group opencontrail-ci-core
        forgeAuthor = group opencontrail-ci-core
        forgeCommitter = group opencontrail-ci-core
        pushMerge = group opencontrail-ci-core
        pushTag = group opencontrail-ci-core
        create = group opencontrail-ci-core
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
