[access "refs/heads/*"]
        label-Approved = +0..+1 group stats-core
        label-Code-Review = -2..+2 group stats-core
        workInProgress = group stats-core
[access "refs/tags/*"]
        create = group stats-core
        pushTag = group stats-core
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
