[access "refs/heads/*"]
        label-Code-Review = -2..+2 group odsreg-core
        label-Approved = +0..+1 group odsreg-core
        workInProgress = group odsreg-core
[access "refs/tags/*"]
        create = group odsreg-core
        pushTag = group odsreg-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
