[access "refs/heads/*"]
        label-Code-Review = -2..+2 group opencontrail-ci-admins
        label-Approved = +0..+1 group opencontrail-ci-admins
        workInProgress = group opencontrail-ci-admins
[access "refs/meta/config"]
        label-Approved = +0..+1 group opencontrail-ci-admins
        label-Code-Review = -2..+2 group opencontrail-ci-admins
        label-Verified = -2..+2 group opencontrail-ci-admins
        submit = group opencontrail-ci-admins
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
