[access "refs/heads/*"]
        label-Code-Review = -2..+2 group releasestatus-core
        label-Approved = +0..+1 group releasestatus-core
        workInProgress = group releasestatus-core
[access "refs/tags/*"]
        create = group releasestatus-core
        pushTag = group releasestatus-core
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
