[access "refs/heads/*"]
        label-Code-Review = -2..+2 group opencontrail-reviewday
        label-Approved = +0..+1 group opencontrail-reviewday
        workInProgress = group opencontrail-reviewday
[access "refs/tags/*"]
        create = group opencontrail-reviewday
        pushTag = group opencontrail-reviewday
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
