[access "refs/*"]
        create = group storyboard-core
        pushTag = group storyboard-core
[access "refs/heads/*"]
        label-Approved = +0..+1 group storyboard-core
        label-Code-Review = -2..+2 group storyboard-core
        workInProgress = group storyboard-core
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
