# This file is managed by puppet.
# https://git.openstack.org/cgit/openstack-infra/system-config

[gerrit]
	basePath = git
	canonicalWebUrl = https://review.openstack.org/
	reportBugText = Get Help
	reportBugUrl = https://docs.openstack.org/infra/system-config/project.html#contributing
	gitHttpUrl = https://git.openstack.org/
	canonicalGitUrl = git://git.openstack.org/
	ui = POLYGERRIT
# TODO: mysql in production
[database]
	type = h2
	database = db/ReviewDB
[auth]
	contributorAgreements = true
	type = OPENID_SSO
	cookieSecure = true
	enableRunAs = true
	openIdSsoUrl = https://login.ubuntu.com/+openid
[sendemail]
	smtpServer = localhost
	from = MIXED
	includeDiff = false
[container]
	user = gerrit2
	heapLimit = 48g
[core]
	packedGitOpenFiles = 4096
	packedGitLimit = 400m
	packedGitWindowSize = 16k
[sshd]
	listenAddress = *:29418
	threads = 100
[httpd]
	listenUrl = proxy-https://*:8081/
	minThreads = 20
	maxThreads = 100
	maxQueued = 200
[cache]
	directory = cache
[cache "web_sessions"]
	maxAge = 7days
[cache "accounts"]
    memoryLimit = 32768
[cache "accounts_byemail"]
    memoryLimit = 32768
[cache "accounts_byname"]
    memoryLimit = 32768
[cache "groups_byuuid"]
    memoryLimit = 32768
[user]
	email = review@openstack.org
[change]
	allowDrafts = false
[receive]
	maxObjectSizeLimit = 100 m
[commentlink "bugheader"]
	match = "([Cc]loses|[Pp]artial|[Rr]elated)-[Bb]ug:\\s*#?(\\d+)"
	link = "https://launchpad.net/bugs/$2"
	html = ""
[commentlink "bug"]
	match = "\\b[Bb]ug:? #?(\\d+)"
	link = "https://launchpad.net/bugs/$1"
	html = ""
[commentlink "story"]
	match = "\\b[Ss]tory:? #?(\\d+)"
	link = "https://storyboard.openstack.org/#!/story/$1"
	html = ""
[commentlink "task"]
	match = "\\b[Tt]ask:? #?(\\d+)"
	link = "https://storyboard.openstack.org/#!/task/$1"
	html = ""
[commentlink "its-storyboard"]
	match = "\\b[Tt]ask:? #?(\\d+)"
	link = "task: $1"
	html = ""
[commentlink "blueprint"]
	match = "(\\b[Bb]lue[Pp]rint\\b|\\b[Bb][Pp]\\b)[ \\t#:]*([A-Za-z0-9\\-]+)"
	link = "https://blueprints.launchpad.net/openstack/?searchtext=$2"
	html = ""
[commentlink "testresult"]
	match = "<li>([^ ]+) <a href=\"[^\"]+\" target=\"_blank\" rel=\"nofollow\">([^<]+)</a> : ([^ ]+)([^<]*)</li>"
	link = ""
	html = "<li class=\"comment_test\"><span class=\"comment_test_name\"><a href=\"$2\" rel=\"nofollow\">$1</a></span> <span class=\"comment_test_result\"><span class=\"result_$3\">$3</span>$4</span></li>"
[commentlink "testresultnoop"]
	match = "<li>noop noop : SUCCESS([^<]*)</li>"
	link = ""
	html = "<li class=\"comment_test\"><span class=\"comment_test_name\">noop</span> <span class=\"comment_test_result\"><span class=\"result_SUCCESS\">SUCCESS</span>$1</span></li>"
[commentlink "launchpadbug"]
	match = "<a href=\"(https://bugs\\.launchpad\\.net/[a-zA-Z0-9\\-]+/\\+bug/(\\d+))[^\"]*\">[^<]+</a>"
	link = ""
	html = "<a href=\"$1\">$1</a>"
[commentlink "changeid"]
	match = "(I[0-9a-f]{8,40})"
	link = "/#/q/$1"
	html = ""
[commentlink "gitsha"]
	match = "(<p>|[\\s(])([0-9a-f]{40})(</p>|[\\s.,;:)])"
	link = ""
	html = "$1<a href=\"/#/q/$2\">$2</a>$3"
[its-storyboard]
	url = https://storyboard.openstack.org
[trackingid "launchpad-bug"]
	match = "\\#?(\\d+)"
	footer = "closes-bug:"
	footer = "partial-bug:"
	footer = "related-bug:"
	system = "Launchpad"
[trackingid "storyboard-story"]
	match = "\\#?(\\d+)"
	footer = "story:"
	system = "Storyboard"
[trackingid "storyboard-task"]
	match = "\\#?(\\d+)"
	footer = "task:"
	system = "Storyboard"
[theme]
	backgroundColor = ffffff
	topMenuColor = ffffff
	textColor = 264d69
	trimColor = eef3f5
	selectionColor = d1e6ea
	changeTableOutdatedColor = f5cccc
	tableOddRowColor = ffffff
	tableEvenRowColor = f5f5ff
[melody]
	monitoring = true
	session = true
[plugin "javamelody"]
        allowTopMenu = false
# Gerrit upstream hardcodes a .git extension for cgit.
# The cgit settings below are the same just without the
# .git extension.
[gitweb]
	type = custom
	project = "${project}/summary"
	revision = "${project}/commit/?id=${commit}"
	branch = "${project}/log/?h=${branch}"
	roottree = "${project}/tree/?h=${commit}"
	file = "${project}/tree/${file}?h=${commit}"
	filehistory = "${project}/log/${file}?h=${branch}"
	url = "https://git.openstack.org/cgit/"
	urlEncode = false
[index]
	type = LUCENE
	threads = 4
[download]
	command = checkout
	command = cherry_pick
	command = pull
	command = format_patch
	scheme = ssh
	scheme = anon_http
	scheme = anon_git
	archive = tar
	archive = tbz2
	archive = tgz
	archive = txz
[commitmessage]
	maxLineLength = 72
[groups]
        newGroupsVisibleToAll = true
[mimetype "image/*"]
        safe = true
[mimetype "text/x-yaml"]
        safe = true
[mimetype "text/xml"]
        safe = true
[mimetype "application/xml"]
        safe = true
[mimetype "text/x-rst"]
        safe = true
[mimetype "text/plain"]
        safe = true
[mimetype "text/x-puppet"]
        safe = true
[mimetype "text/x-ini"]
        safe = true
[mimetype "text/x-properties"]
        safe = true
[mimetype "text/x-markdown"]
        safe = true
[mimetype "text/css"]
        safe = true
