[project]
	state = active
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/*"]
	owner = group Administrators
	create = group ceilometer-drivers
	pushTag = group ceilometer-drivers
[access "refs/heads/*"]
	label-Approved = +0..+1 group ceilometer-drivers
	label-Code-Review = -2..+2 group ceilometer-drivers
