[access "refs/*"]
        owner = group Administrators
        create = group ceilometer-drivers
        pushtag = group ceilometer-drivers
[access "refs/heads/*"]
        label-approved = +0..+1 group ceilometer-drivers
        label-code-review = -2..+2 group ceilometer-drivers
[project]
        state = active
[receive]
        requirechangeid = true
[submit]
        mergecontent = true
