[access "refs/heads/*"]	1
        label-Code-Review = -2..+2 group cinder-specs-core	2
        label-Approved = +0..+1 group cinder-specs-core	3
        workInProgress = group cinder-specs-core	4
[project]	5
        state = active	6
[receive]	7
        requireChangeId = true	8
        requireContributorAgreement = true	9
[submit]	10
        mergeContent = true
