[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-code-review = -2..+2 group cinder-core
        label-approved = +0..+1 group cinder-core
[access "refs/heads/milestone-proposed"]
        label-code-review = -2..+2 group cinder-drivers
        label-approved = +0..+1 group cinder-drivers
[project]
        state = active
[receive]
        requirechangeid = true
        requirecontributoragreement = true
[submit]
        mergecontent = true
