[access "refs/heads/*"]
        label-Code-Review = -2..+2 group cliff-core
        label-Workflow = -1..+1 group cliff-core
        abandon = group cliff-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group cliff-milestone
        label-Workflow = -1..+1 group cliff-milestone
        abandon = group cliff-milestone
[access "refs/tags/*"]
        pushSignedTag = group cliff-ptl
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
