[access "refs/heads/*"]
        label-Code-Review = -2..+2 group cliff-core
        label-Workflow = -1..+1 group cliff-core
[access "refs/tags/*"]
        create = group cliff-ptl
        pushSignedTag = group cliff-ptl
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
