[access "refs/heads/*"]
abandon = group designate-core
label-Code-Review = -2..+2 group designate-core
label-Workflow = -1..+1 group designate-core

[access "refs/heads/stable/*"]
create = group designate-release
label-Code-Review = -2..+2 group openstack-stable-maint
label-Code-Review = -2..+2 group designate-milestone
label-Workflow = -1..+1 group openstack-stable-maint
label-Workflow = -1..+1 group designate-milestone

[access "refs/heads/proposed/*"]
abandon = group designate-milestone
label-Code-Review = -2..+2 group designate-milestone
label-Workflow = -1..+1 group designate-milestone

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
