[receive]
   requireChangeId = true
   requireContributorAgreement = true
[submit]
   mergeContent = true
[access "refs/heads/*"]
   label-Code-Review = -2..+2 group dib-utils-core
   label-Workflow = -1..+1 group dib-utils-core
   abandon = group dib-utils-core
[access "refs/tags/*"]
   pushSignedTag = group tripleo-ptl
