[access "refs/heads/*"]
abandon = group tripleo-core
label-Code-Review = -2..+2 group tripleo-core
label-Workflow = -1..+1 group tripleo-core

[access "refs/tags/*"]
pushSignedTag = group tripleo-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
