[receive]
   requireChangeId = true
   requireContributorAgreement = true
[submit]
   mergeContent = true
[access "refs/heads/*"]
   label-Code-Review = -2..+2 group dib-utils-core
   label-Approved = +0..+1 group dib-utils-core
   workInProgress = group dib-utils-core
[access "refs/tags/*"]
   create = group tripleo-ptl
   pushTag = group tripleo-ptl
