[access "refs/heads/*"]
        label-Code-Review = -2..+2 group horizon-core
        label-Workflow = -1..+1 group horizon-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group horizon-milestone
        label-Workflow = -1..+1 group horizon-milestone
[access "refs/tags/*"]
        create = group horizon-ptl
        pushSignedTag = group horizon-ptl
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
