[access "refs/heads/*"]
abandon = group horizon-core
label-Code-Review = -2..+2 group horizon-core
label-Workflow = -1..+1 group horizon-core

[access "refs/heads/milestone-proposed"]
abandon = group horizon-milestone
label-Code-Review = -2..+2 group horizon-milestone
label-Workflow = -1..+1 group horizon-milestone

[access "refs/tags/*"]
pushSignedTag = group horizon-ptl

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
