[access "refs/heads/*"]
abandon = group gantt-core
label-Code-Review = -2..+2 group gantt-core
label-Workflow = -1..+1 group gantt-core

[access "refs/heads/milestone-proposed"]
abandon = group gantt-milestone
label-Code-Review = -2..+2 group gantt-milestone
label-Workflow = -1..+1 group gantt-milestone

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
