[access "refs/heads/*"]
        label-Code-Review = -2..+2 group gantt-core
        label-Workflow = -1..+1 group gantt-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group gantt-milestone
        label-Workflow = -1..+1 group gantt-milestone
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
