[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group glance-core
        label-Approved = +0..+1 group glance-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group glance-drivers
        label-Approved = +0..+1 group glance-drivers
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
