[access "refs/heads/*"]
        label-Code-Review = -2..+2 group glance-core
        label-Approved = +0..+1 group glance-core
        workInProgress = group glance-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group glance-milestone
        label-Approved = +0..+1 group glance-milestone
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
