[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-code-review = -2..+2 group glance-core
        label-approved = +0..+1 group glance-core
[access "refs/heads/milestone-proposed"]
        label-code-review = -2..+2 group glance-drivers
        label-approved = +0..+1 group glance-drivers
[receive]
        requirechangeid = true
        requirecontributoragreement = true
[submit]
        mergecontent = true
