[access "refs/heads/*"]
        label-Code-Review = -2..+2 group openstack/governance-core
        label-Approved = +0..+1 ttx
        workInProgress = group openstack/governance-core
[access "refs/tags/*"]
        create = group openstack/governance-core
        pushTag = group openstack/governance-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
