[access "refs/heads/*"]
        exclusiveGroupPermissions = label-Code-Review label-Workflow
        label-Code-Review = -1..+1 group tech-committee
        label-Code-Review = -1..+2 group tech-committee-chair
        label-Workflow = -1..+1 group tech-committee-chair
[access "refs/tags/*"]
        create = group tech-committee-chair
        pushSignedTag = group tech-committee-chair
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
