[access "refs/heads/*"]
abandon = group tech-committee-chair
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -1..+2 group tech-committee-chair
label-Workflow = -1..+1 group tech-committee-chair

[access "refs/tags/*"]
pushSignedTag = group tech-committee-chair

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
