[access "refs/*"]
	owner = group Administrators
[receive]
	requireChangeId = true
	requireContributorAgreement = true
[submit]
	mergeContent = true
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group horizon-core
	label-Approved = +0..+1 group horizon-core
[access "refs/heads/milestone-proposed"]
	label-Code-Review = -2..+2 group horizon-drivers
	label-Approved = +0..+1 group horizon-drivers
[access "refs/heads/stable/diablo"]
	label-Code-Review = -2..+2 group horizon-core
	label-Code-Review = -1..+1 group Registered Users
	label-Approved = +0..+1 group horizon-core
