[access "refs/heads/*"]
        label-code-review = -2..+2 group horizon-core
        label-approved = +0..+1 group horizon-core
[access "refs/heads/milestone-proposed"]
        label-code-review = -2..+2 group horizon-drivers
        label-approved = +0..+1 group horizon-drivers
[access "refs/heads/stable/diablo"]
        label-code-review = -1..+1 group Registered Users
        label-approved = +0..+1 group horizon-core
[project]
        state = active
[receive]
        requirechangeid = true
        requirecontributoragreement = true
[submit]
        mergecontent = true
