[access]
        inheritFrom = API-Projects
[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group keystone-core
        label-Approved = +0..+1 group keystone-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
