[access "refs/heads/*"]
        label-Code-Review = -2..+2 group baremetal-specs-core
        label-Workflow = -1..+1 group baremetal-specs-core
        abandon = group baremetal-specs-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
