[access "refs/heads/*"]
        label-Code-Review = -2..+2 group ironic-python-agent-core
        label-Workflow = -1..+1 group ironic-python-agent-core
[access "refs/tags/*"]
        create = group ironic-ptl
        pushSignedTag = group ironic-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
