[access "refs/heads/*"]
        label-Code-Review = -2..+2 group ironic-python-agent-core
        label-Approved = +0..+1 group ironic-python-agent-core
        workInProgress = group ironic-python-agent-core
[access "refs/tags/*"]
        create = group ironic-ptl
        pushTag = group ironic-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
