[access "refs/heads/*"]
abandon = group ironic-core
label-Code-Review = -2..+2 group ironic-core
label-Workflow = -1..+1 group ironic-core

[access "refs/heads/proposed/*"]
abandon = group ironic-milestone
label-Code-Review = -2..+2 group ironic-milestone
label-Workflow = -1..+1 group ironic-milestone

[access "refs/heads/stable/*"]
create = group designate-ptl
abandon = group designate-core
label-Code-Review = -2..+2 group designate-core
label-Code-Review = -1..+1 group designate-core
label-Workflow = -1..+1 group designate-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
