[access "refs/heads/*"]
abandon = group keystone-core
label-Code-Review = -2..+2 group keystone-core
label-Workflow = -1..+1 group keystone-core

[access "refs/tags/*"]
pushSignedTag = group keystone-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
