[access "refs/heads/*"]
        label-Code-Review = -2..+2 group keystone-specs-core
        label-Workflow = -1..+1 group keystone-specs-core
        abandon = group keystone-specs-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = True
