[access "refs/for/refs/*"]
        pushMerge = group keystone-drivers
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group keystone-core
        label-Approved = +0..+1 group keystone-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group keystone-drivers
        label-Approved = +0..+1 group keystone-drivers
[access "refs/heads/stable/diablo"]
        label-Code-Review = -2..+2 group keystone-core
        label-Code-Review = -1..+1 group Registered Users
        label-Approved = +0..+1 group keystone-core
        exclusiveGroupPermissions = label-Approved label-Code-Review
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
