[access "refs/heads/*"]
abandon = group kolla-core
label-Code-Review = -2..+2 group kolla-core
label-Workflow = -1..+1 group kolla-core

[access "refs/heads/proposed/*"]
abandon = group kolla-milestone
label-Code-Review = -2..+2 group kolla-milestone
label-Workflow = -1..+1 group kolla-milestone

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
