[access "refs/heads/*"]
        label-code-review = -2..+2 group melange-core
        label-approved = +0..+1 group melange-core
[access "refs/heads/milestone-proposed"]
        label-code-review = -2..+2 group melange-drivers
        label-approved = +0..+1 group melange-drivers
[access "refs/heads/stable/essex"]
        label-code-review = -1..+1 group Registered Users
        label-approved = +0..+1 group melange-core
        exclusivegrouppermissions = label-Code-Review label-Approved
[project]
        state = active
[receive]
        requirechangeid = true
        requirecontributoragreement = true
[submit]
        mergecontent = true
