[access "refs/heads/*"]
        label-Code-Review = -2..+2 group melange-core
        label-Approved = +0..+1 group melange-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group melange-drivers
        label-Approved = +0..+1 group melange-drivers
[access "refs/heads/stable/essex"]
        label-Code-Review = -2..+2 group melange-core
        label-Code-Review = -1..+1 group Registered Users
        label-Approved = +0..+1 group melange-core
        exclusiveGroupPermissions = label-Code-Review label-Approved
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
