[access]
        inheritfrom = API-Projects
[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-code-review = -2..+2 group quantum-core
        label-approved = +0..+1 group quantum-core
[receive]
        requirechangeid = true
        requirecontributoragreement = true
[submit]
        mergecontent = true
