[access "refs/heads/*"]
        label-Code-Review = -2..+2 group nova-specs-core
        label-Approved = +0..+1 group nova-specs-core
        workInProgress = group nova-specs-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
