[access "refs/heads/*"]
        label-Code-Review = -2..+2 group nova-core
        label-Workflow = -1..+1 group nova-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group nova-milestone
        label-Workflow = -1..+1 group nova-milestone
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
