[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-code-review = -2..+2 group openstack-ci-admins
        label-approved = +0..+1 group openstack-ci-admins
[receive]
        requirechangeid = true
        requireshortmessage = true
        requirecontributoragreement = true
[submit]
        mergecontent = true
