[access "refs/heads/*"]
        label-Code-Review = -2..+2 group openstack-security-notes-core
        label-Approved = +0..+1 group openstack-security-notes-core
        workInProgress = group openstack-security-notes-core
[access "refs/tags/*"]
        create = group openstack-security-notes-core
        pushTag = group openstack-security-notes-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
