[access "refs/for/refs/*"]
exclsiveGroupPermissions = Push
push = group Release Managers

[access "refs/heads/*"]
abandon = group Release Managers
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Release Managers
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group Release Managers

[access "refs/heads/stable/*"]
abandon = group Release Managers
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group Release Managers
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group Release Managers

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
