[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-code-review = -2..+2 group openstack-deploy-core
        label-approved = +0..+1 group openstack-deploy-core
[receive]
        requirechangeid = true
        requirecontributoragreement = true
[submit]
        mergecontent = true
