[access "refs/for/refs/*"]
        exclsiveGroupPermissions = Push
        push = group Release Managers
[access "refs/heads/*"]
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -2..+2 group Release Managers
        label-Approved = +0..+1 group Release Managers
        label-Code-Review = -1..+1 group Registered Users
        workInProgress = group Release Managers
[access "refs/heads/stable/*"]
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -2..+2 group Release Managers
        label-Approved = +0..+1 group Release Managers
        label-Code-Review = -1..+1 group Registered Users
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
