[access "refs/heads/*"]
        label-Code-Review = -2..+2 group openstack-doc-core
        label-Approved = +0..+1 group openstack-doc-core
        workInProgress = group openstack-doc-core
[access "refs/heads/stable/*"]
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -2..+2 group openstack-doc-core
        label-Code-Review = -1..+1 group Registered Users
        label-Approved = +0..+1 group openstack-doc-core
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
