[access "refs/*"]
   owner = group Administrators
[receive]
   requireChangeId = true
   requireContributorAgreement = true
[submit]
   mergeContent = true
[access "refs/heads/*"]
   label-Code-Review = -2..+2 group os-apply-config-core
   label-Workflow = -1..+1 group os-apply-config-core
[access "refs/tags/*"]
   create = group tripleo-ptl
   pushSignedTag = group tripleo-ptl
[project]
   state = active
