[access "refs/heads/*"]
abandon = group os-net-config-core
label-Code-Review = -2..+2 group os-net-config-core
label-Workflow = -1..+1 group os-net-config-core

[access "refs/tags/*"]
pushSignedTag = group tripleo-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
