[access "refs/heads/*"]
abandon = group oslo-i18n-core
label-Code-Review = -2..+2 group oslo-i18n-core
label-Workflow = -1..+1 group oslo-i18n-core

[access "refs/tags/*"]
pushSignedTag = group oslo-i18n-ptl

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
