[access "refs/heads/*"]
abandon = group oslo-messaging-core
label-Code-Review = -2..+2 group oslo-messaging-core
label-Workflow = -1..+1 group oslo-messaging-core

[access "refs/tags/*"]
pushSignedTag = group olso-messaging-ptl

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
