[access "refs/heads/*"]
        label-Code-Review = -2..+2 group oslo-i18n-core
        label-Workflow = -1..+1 group oslo-i18n-core
        abandon = group oslo-i18n-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group oslo-milestone
        label-Workflow = -1..+1 group oslo-milestone
        abandon = group oslo-milestone
[access "refs/tags/*"]
       create = group oslo-milestone
       pushSignedTag = group oslo-milestone
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
