[access "refs/heads/*"]
label-Code-Review = -2..+2 group oslo-concurrency-core
label-Workflow = -1..+1 group oslo-concurrency-core
abandon = group oslo-concurrency-core

[access "refs/tags/*"]
pushSignedTag = group oslo-concurrency-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
