[access "refs/heads/*"]
abandon = group oslo-core
label-Code-Review = -2..+2 group oslo-core
label-Workflow = -1..+1 group oslo-core

[access "refs/heads/milestone-proposed"]
abandon = group oslo-milestone
label-Code-Review = -2..+2 group oslo-milestone
label-Workflow = -1..+1 group oslo-milestone

[access "refs/tags/*"]
pushSignedTag = group oslo-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
