[access "refs/heads/*"]
        label-Code-Review = -2..+2 group oslo-vmware-core
        label-Workflow = -1..+1 group oslo-vmware-core
        abandon = group oslo-vmware-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group oslo-vmware-milestone
        label-Workflow = -1..+1 group oslo-vmware-milestone
        abandon = group oslo-vmware-milestone
[access "refs/tags/*"]
        pushSignedTag = group oslo-vmware-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
