[access "refs/heads/*"]
        label-Code-Review = -2..+2 group oslo-vmware-core
        label-Workflow = -1..+1 group oslo-vmware-core
[access "refs/tags/*"]
        create = group oslo-vmware-milestone
        pushTag = group oslo-vmware-milestone
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
