[access "refs/heads/*"]
        label-Code-Review = -2..+2 group oslo-specs-core
        label-Workflow = -1..+1 group oslo-specs-core
        abandon = group oslo-specs-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
