[access "refs/heads/*"]
abandon = group oslo-vmware-core
label-Code-Review = -2..+2 group oslo-vmware-core
label-Workflow = -1..+1 group oslo-vmware-core

[access "refs/tags/*"]
pushSignedTag = group oslo-vmware-ptl

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
