[access "refs/heads/*"]
        label-Code-Review = -2..+2 group oslo-db-core
        label-Approved = +0..+1 group oslo-db-core
        workInProgress = group oslo-db-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group oslo-milestone
        label-Approved = +0..+1 group oslo-milestone
[access "refs/tags/*"]
        create = group oslo-db-core
        pushTag = group oslo-db-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
