[access "refs/heads/*"]
        label-code-review = -2..+2 group oslo-core
        label-approved = +0..+1 group oslo-core
[access "refs/heads/milestone-proposed"]
        label-code-review = -2..+2 group oslo-drivers
        label-approved = +0..+1 group oslo-drivers
[project]
        state = active
[receive]
        requirechangeid = true
        requirecontributoragreement = true
[submit]
        mergecontent = true
