[access "refs/heads/*"]
        label-Code-Review = -2..+2 group oslo-messaging-core
        label-Workflow = -1..+1 group oslo-messaging-core
        abandon = group oslo-messaging-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group oslo-messaging-milestone
        label-Workflow = -1..+1 group oslo-messaging-milestone
        abandon = group oslo-messaging-milestone
[access "refs/heads/tags/*"]
        pushSignedTag = group olso-messaging-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
