[access "refs/heads/*"]
abandon = group pycadf-core
label-Code-Review = -2..+2 group pycadf-core
label-Workflow = -1..+1 group pycadf-core

[access "refs/heads/milestone-proposed"]
abandon = group pycadf-milestone
label-Code-Review = -2..+2 group pycadf-milestone
label-Workflow = -1..+1 group pycadf-milestone

[access "refs/tags/*"]
pushSignedTag = group pycadf-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
