[access "refs/heads/*"]
        label-Code-Review = -2..+2 group pylockfile-core
        label-Workflow = -1..+1 group pylockfile-core
        abandon = group pylockfile-core
[access "refs/tags/*"]
        pushSignedTag = group pylockfile-release
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
