[access "refs/heads/*"]
        label-Code-Review = -2..+2 group pylockfile-core
        label-Workflow = -1..+1 group pylockfile-core
        abandon = group pylockfile-core
[access "refs/tags/*"]
        create = group pylockfile-ptl
        pushSignedTag = group pylockfile-ptl
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
