[access "refs/heads/*"]
abandon = group designate-core
label-Code-Review = -2..+2 group designate-core
label-Workflow = -1..+1 group designate-core

[access "refs/heads/proposed/*"]
abandon = group designate-milestone
label-Code-Review = -2..+2 group designate-milestone
label-Workflow = -1..+1 group designate-milestone

[access "refs/tags/*"]
pushSignedTag = group designate-ptl

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
