[access "refs/heads/*"]
        label-code-review = -2..+2 group quantum-core
        label-approved = +0..+1 group quantum-core
[access "refs/heads/milestone-proposed"]
        label-code-review = -2..+2 group quantum-drivers
        label-approved = +0..+1 group quantum-drivers
[access "refs/tags/*"]
        create = group quantum-drivers
        pushtag = group quantum-drivers
[project]
        state = active
[receive]
        requirechangeid = true
        requirecontributoragreement = true
[submit]
        mergecontent = true
