[access "refs/for/refs/*"]
        pushMerge = group keystone-drivers
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group keystone-core
        label-Approved = +0..+1 group keystone-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group keystone-drivers
        label-Approved = +0..+1 group keystone-drivers
[access "refs/tags/*"]
        create = group keystone-drivers
        pushTag = group keystone-drivers
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
