[access "refs/heads/*"]
abandon = group neutron-core
label-Code-Review = -2..+2 group neutron-core
label-Workflow = -1..+1 group neutron-core

[access "refs/heads/milestone-proposed"]
abandon = group neutron-milestone
label-Code-Review = -2..+2 group neutron-milestone
label-Workflow = -1..+1 group neutron-milestone

[access "refs/tags/*"]
pushSignedTag = group neutron-ptl

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
