[access "refs/heads/*"]
        label-Code-Review = -2..+2 group ironic-core
        label-Workflow = -1..+1 group ironic-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group ironic-milestone
        label-Workflow = -1..+1 group ironic-milestone
[access "refs/tags/*"]
        create = group ironic-core
        pushSignedTag = group ironic-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
