[access "refs/heads/*"]
abandon = group marconi-core
label-Code-Review = -2..+2 group marconi-core
label-Workflow = -1..+1 group marconi-core

[access "refs/heads/milestone-proposed"]
abandon = group marconi-milestone
label-Code-Review = -2..+2 group marconi-milestone
label-Workflow = -1..+1 group marconi-milestone

[access "refs/tags/*"]
pushSignedTag = group marconi-ptl

[project]
state = active

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
