[access "refs/heads/*"]
        label-code-review = -2..+2 group python-openstackclient-core
        label-approved = +0..+1 group python-openstackclient-core
[access "refs/heads/milestone-proposed"]
        label-code-review = -2..+2 group python-openstackclient-drivers
        label-approved = +0..+1 group python-openstackclient-drivers
[access "refs/tags/*"]
        create = group python-openstackclient-drivers
        pushtag = group python-openstackclient-drivers
[project]
        state = active
[receive]
        requirechangeid = true
        requirecontributoragreement = true
[submit]
        mergecontent = true
