[access "refs/heads/*"]
        label-Code-Review = -2..+2 group glance-core
        label-Workflow = -1..+1 group glance-core
        abandon = group glance-core
[access "refs/heads/proposed/*"]
        label-Code-Review = -2..+2 group glance-milestone
        label-Workflow = -1..+1 group glance-milestone
        abandon = group glance-milestone
[access "refs/tags/*"]
        create = group glance-ptl
        pushSignedTag = group glance-ptl
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
