[access "refs/heads/*"]
        label-Code-Review = -2..+2 group keystone-core
        label-Workflow = -1..+1 group keystone-core
        abandon = group keystone-core
[access "refs/heads/proposed/*"]
        label-Code-Review = -2..+2 group keystone-milestone
        label-Workflow = -1..+1 group keystone-milestone
        abandon = group keystone-milestone
[access "refs/tags/*"]
        create = group keystone-ptl
        pushSignedTag = group keystone-ptl
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
