[access "refs/heads/*"]
abandon = group designate-core
label-Code-Review = -2..+2 group designate-core
label-Workflow = -1..+1 group designate-core

[access "refs/heads/proposed/*"]
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
abandon = group Release Managers
abandon = group designate-milestone
abandon = group Change Owner
label-Code-Review = -2..+2 group Release Managers
label-Code-Review = -2..+2 group designate-milestone
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group Release Managers
label-Workflow = -1..+1 group designate-milestone
label-Workflow = -1..+0 group Change Owner

[access "refs/tags/*"]
pushSignedTag = group designate-ptl

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
