[access "refs/heads/*"]
        label-Code-Review = -2..+2 group quantum-core
        label-Approved = +0..+1 group quantum-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group quantum-drivers
        label-Approved = +0..+1 group quantum-drivers
[access "refs/tags/*"]
        create = group quantum-drivers
        pushTag = group quantum-drivers
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
