[access "refs/heads/*"]
abandon = group ironic-core
label-Code-Review = -2..+2 group ironic-core
label-Workflow = -1..+1 group ironic-core

[access "refs/heads/proposed/*"]
abandon = group ironic-milestone
label-Code-Review = -2..+2 group ironic-milestone
label-Workflow = -1..+1 group ironic-milestone

[access "refs/tags/*"]
pushSignedTag = group ironic-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
