[access "refs/heads/*"]
        label-Code-Review = -2..+2 group ceilometer-core
        label-Approved = +0..+1 group ceilometer-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group ceilometer-drivers
        label-Approved = +0..+1 group ceilometer-drivers
[access "refs/tags/*"]
        create = group ceilometer-drivers
        pushTag = group ceilometer-drivers
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
