[access "refs/heads/*"]
        label-Code-Review = -2..+2 group kite-core
        label-Approved = +0..+1 group kite-core
        workInProgress = group kite-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group kite-milestone
        label-Approved = +0..+1 group kite-milestone
[access "refs/tags/*"]
        create = group keystone-ptl
        pushTag = group keystone-ptl
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
