[project]
	state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group python-openstackclient-core
        label-Approved = +0..+1 group python-openstackclient-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group python-openstackclient-drivers
        label-Approved = +0..+1 group python-openstackclient-drivers
[access "refs/heads/*"]
[access "refs/tags/*"]
	create = group python-openstackclient-drivers
	pushTag = group python-openstackclient-drivers
