[access "refs/heads/*"]
        label-Code-Review = -2..+2 group quantum-core
        label-Approved = +0..+1 group quantum-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group quantum-milestone
        label-Approved = +0..+1 group quantum-milestone
[access "refs/heads/stable/diablo"]
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -2..+2 group quantum-core
        label-Code-Review = -1..+1 group Registered Users
        label-Approved = +0..+1 group quantum-core
[access "refs/heads/stable/essex"]
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -2..+2 group quantum-core
        label-Code-Review = -1..+1 group Registered Users
        label-Approved = +0..+1 group quantum-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
