[access "refs/*"]
        owner = group Administrators
        create = group Quantum Release Managers
        pushtag = group Quantum Release Managers
[access "refs/heads/*"]
        label-code-review = -2..+2 group quantum-core
        label-approved = +0..+1 group quantum-core
[access "refs/heads/milestone-proposed"]
        label-code-review = -2..+2 group quantum-drivers
        label-approved = +0..+1 group quantum-drivers
[access "refs/heads/stable/diablo"]
        exclusivegrouppermissions = label-Code-Review label-Approved
        label-code-review = -1..+1 group Registered Users
        label-approved = +0..+1 group quantum-core
[access "refs/heads/stable/essex"]
        exclusivegrouppermissions = label-Code-Review label-Approved
        label-code-review = -1..+1 group Registered Users
        label-approved = +0..+1 group quantum-core
[receive]
        requirechangeid = true
        requirecontributoragreement = true
[submit]
        mergecontent = true
