[access "refs/*"]
	owner = group Administrators
	create = group Quantum Release Managers
	pushTag = group Quantum Release Managers
[receive]
	requireChangeId = true
	requireContributorAgreement = true
[submit]
	mergeContent = true
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group quantum-core
	label-Approved = +0..+1 group quantum-core
[access "refs/heads/milestone-proposed"]
	label-Code-Review = -2..+2 group quantum-drivers
	label-Approved = +0..+1 group quantum-drivers
[access "refs/heads/stable/diablo"]
	exclusiveGroupPermissions = label-Code-Review label-Approved
	label-Code-Review = -2..+2 group quantum-core
	label-Code-Review = -1..+1 group Registered Users
	label-Approved = +0..+1 group quantum-core
[access "refs/heads/stable/essex"]
	exclusiveGroupPermissions = label-Code-Review label-Approved
	label-Code-Review = -2..+2 group quantum-core
	label-Code-Review = -1..+1 group Registered Users
	label-Approved = +0..+1 group quantum-core
