[access "refs/heads/*"]
abandon = group sahara-core
create = group sahara-milestone
label-Code-Review = -2..+2 group sahara-core
label-Workflow = -1..+1 group sahara-core

[access "refs/heads/proposed/*"]
abandon = group sahara-milestone
label-Code-Review = -2..+2 group sahara-milestone
label-Workflow = -1..+1 group sahara-milestone

[access "refs/heads/stable/icehouse"]
abandon = group sahara-core
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group sahara-core
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group sahara-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
