[access "refs/heads/*"]
        label-Code-Review = -2..+2 group sahara-core
        label-Workflow = -1..+1 group sahara-core
        create = group sahara-milestone
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group sahara-milestone
        label-Workflow = -1..+1 group sahara-milestone
[access "refs/heads/stable/*"]
        exclusiveGroupPermissions = label-Code-Review label-Workflow
        label-Code-Review = -2..+2 group sahara-core
        label-Workflow = -1..+1 group sahara-core
        label-Code-Review = -1..+1 group Registered Users
[access "refs/tags/*"]
        create = group sahara-ptl
        pushSignedTag = group sahara-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
