[access "refs/heads/*"]
abandon = group stevedore-core
label-Code-Review = -2..+2 group stevedore-core
label-Workflow = -1..+1 group stevedore-core

[access "refs/tags/*"]
pushSignedTag = group stevedore-ptl

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
