[access "refs/heads/*"]
        label-Code-Review = -2..+2 group stevedore-core
        label-Workflow = -1..+1 group stevedore-core
        abandon = group stevedore-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group stevedore-milestone
        label-Workflow = -1..+1 group stevedore-milestone
        abandon = group stevedore-milestone
[access "refs/tags/*"]
        pushSignedTag = group stevedore-milestone
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
