[access "refs/heads/*"]
        label-Code-Review = -2..+2 group stevedore-core
        label-Workflow = -1..+1 group stevedore-core
[access "refs/tags/*"]
        create = group stevedore-ptl
        pushTag = group stevedore-ptl
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
