[access "refs/heads/*"]
        label-Code-Review = -2..+2 group swiftsync-core
        label-Workflow = -1..+1 group swiftsync-core
[access "refs/tags/*"]
        create = group swiftsync-core
        pushSignedTag = group swiftsync-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
