[access "refs/heads/*"]
        label-Code-Review = -2..+2 group swift-core
        label-Approved = +0..+1 group swift-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group swift-drivers
        label-Approved = +0..+1 group swift-drivers
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
