[access "refs/for/refs/*"]
pushMerge = group swift-milestone

[access "refs/heads/*"]
abandon = group swift-core
label-Code-Review = -2..+2 group swift-core
label-Workflow = -1..+1 group swift-core

[access "refs/heads/proposed/*"]
abandon = group swift-milestone
label-Code-Review = -2..+2 group swift-milestone
label-Workflow = -1..+1 group swift-milestone

[access "refs/tags/*"]
pushSignedTag = group swift-ptl

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
