[access "refs/*"]
    owner = group Administrators
    create = group taskflow-core
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group taskflow-core
    label-Workflow = -1..+1 group taskflow-core
    abandon = group taskflow-core
[access "refs/tags/*"]
    pushSignedTag = group taskflow-ptl
[project]
    state = active
[receive]
    requireChangeId = true
    requireContributorAgreement = true
[submit]
    mergeContent = true
