[access "refs/*"]
create = group taskflow-core
owner = group Administrators

[access "refs/heads/*"]
abandon = group taskflow-core
label-Code-Review = -2..+2 group taskflow-core
label-Workflow = -1..+1 group taskflow-core

[access "refs/heads/stable/*"]
abandon = group taskflow-core
exclusiveGroupPermissions = label-Code-Review label-Workflow abandon
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group taskflow-core

[access "refs/tags/*"]
create = group taskflow-ptl
pushSignedTag = group taskflow-ptl

[project]
state = active

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
