[access "refs/heads/*"]
abandon = group diskimage-builder-core
label-Code-Review = -2..+2 group diskimage-builder-core
label-Workflow = -1..+1 group diskimage-builder-core

[access "refs/heads/stable/*"]
abandon = group tripleo-core
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group tripleo-core
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group tripleo-core

[access "refs/tags/*"]
pushSignedTag = group tripleo-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
