[access "refs/heads/*"]
        label-Code-Review = -2..+2 group tripleo-core
        label-Workflow = -1..+1 group tripleo-core
[access "refs/tags/*"]
        create = group tripleo-ptl
        pushSignedTag = group tripleo-ptl
[access "refs/heads/stable/*"]
        exclusiveGroupPermissions = label-Code-Review label-Workflow
        label-Code-Review = -2..+2 group tripleo-core
        label-Code-Review = -1..+1 group Registered Users
        label-Workflow = -1..+1 group tripleo-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
