[project]
	state = active
[access "refs/*"]
	owner = group Administrators
[access]
	inheritFrom = API-Projects
[receive]
	requireChangeId = true
	requireContributorAgreement = true
[submit]
	mergeContent = true
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group cinder-core
	label-Approved = +0..+1 group cinder-core
