[access "refs/heads/*"]
abandon = group windows-diskimage-builder-core
label-Code-Review = -2..+2 group windows-diskimage-builder-core
label-Workflow = -1..+1 group windows-diskimage-builder-core

[access "refs/tags/*"]
pushSignedTag = group windows-diskimage-builder-ptl

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
