[access "refs/heads/*"]
abandon = group zaqar-core
label-Code-Review = -2..+2 group zaqar-core
label-Workflow = -1..+1 group zaqar-core

[access "refs/heads/proposed/*"]
abandon = group zaqar-milestone
label-Code-Review = -2..+2 group zaqar-milestone
label-Workflow = -1..+1 group zaqar-milestone

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
