[access "refs/*"]
    read = group Anonymous Users
    create = group Release Managers
    forgeAuthor = group Release Managers
    pushTag = group Release Managers
[access "refs/for/refs/*"]
    push = group Registered Users
[access "refs/heads/*"]
    label-Code-Review = -1..+1 group Registered Users
[access "refs/heads/milestone-proposed"]
    owner = group Release Managers
    label-Approved = 0..+1 group Release Managers
    label-Code-Review = -2..+2 group Release Managers
    label-Code-Review = -1..+1 group Registered Users
[access "refs/heads/stable/*"]
    forgeAuthor = group openstack-stable-maint
    forgeCommitter = group openstack-stable-maint
    label-Approve = 0..+1 group openstack-stable-maint
    label-Code-Review = -2..+2 group openstack-stable-maint
    label-Code-Review = -1..+1 group Registered Users
