[access "refs/*"]
    read = group Vulnerability Managers
    create = group Vulnerability Managers
    forgeAuthor = group Vulnerability Managers
    pushTag = group Vulnerability Managers
[access "refs/for/refs/*"]
    push = group Security Users
[access "refs/heads/*"]
    label-Code-Review = -1..+1 group Security Users
[access "refs/heads/milestone-proposed"]
    owner = group Vulnerability Managers
    label-Approved = 0..+1 group Vulnerability Managers
    label-Code-Review = -2..+2 group Vulnerability Managers
    label-Code-Review = -1..+1 group Security Users
[access "refs/heads/stable/*"]
    forgeAuthor = group Vulnerability Managers
    forgeCommitter = group Vulnerability Managers
    label-Approve = 0..+1 group Vulnerability Managers
    label-Code-Review = -2..+2 group Vulnerability Managers
    label-Code-Review = -1..+1 group Security Users
