[access "refs/heads/stable/diablo"]
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -2..+2 group %(super_project)s-core
        label-Code-Review = -1..+1 group Registered Users
        label-Approved = +0..+1 group %(super_project)s-core
[access "refs/heads/stable/essex"]
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -2..+2 group %(super_project)s-core
        label-Code-Review = -1..+1 group Registered Users
        label-Approved = +0..+1 group %(super_project)s-core
