[access "refs/heads/*"]
        label-Code-Review = -2..+2 group opencontrail-nose-core
        label-Approved = +0..+1 group opencontrail-nose-core
        workInProgress = group opencontrail-nose-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group opencontrail-nose-milestone
        label-Approved = +0..+1 group opencontrail-nose-milestone
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
