# Necessary for fake clouds.yaml to be written
clouds:
  openstackci_internap_username: user
  openstackci_internap_password: password
  openstackci_internap_project_name: project
  openstackjenkins_internap_username: user
  openstackjenkins_internap_password: password
  openstackjenkins_internap_project_name: project
  openstackci_ovh_username: user
  openstackci_ovh_password: password
  openstackci_ovh_project_name: project
  openstackci_rax_username: user
  openstackci_rax_password: password
  openstackci_rax_project_id: project
  openstackjenkins_rax_username: user
  openstackjenkins_rax_password: password
  openstackjenkins_rax_project_id: project
  openstackjenkins_ovh_username: user
  openstackjenkins_ovh_password: password
  openstackjenkins_ovh_project_name: project
  openstackjenkins_vexxhost_username: user
  openstackjenkins_vexxhost_password: password
  openstackjenkins_vexxhost_project_name: project
  openstackci_vexxhost_username: user
  openstackci_vexxhost_password: password
  openstackci_vexxhost_project_name: project
  openstackci_citycloud_username: user
  openstackci_citycloud_password: password
  openstackzuul_citycloud_username: user
  openstackzuul_citycloud_password: password
  openstackci_linaro_username: user
  openstackci_linaro_password: password
  openstackci_linaro_project_name: project
  openstackzuul_linaro_username: user
  openstackzuul_linaro_password: password
  openstackzuul_linaro_project_name: project
  openstackci_linaro_london_username: user
  openstackci_linaro_london_password: password
  openstackci_linaro_london_project_name: project
  openstackzuul_linaro_london_username: user
  openstackzuul_linaro_london_password: password
  openstackzuul_linaro_london_project_name: project
  openstackci_limestone_username: user
  openstackci_limestone_password: password
  openstackci_limestone_project_name: project
  openstackzuul_limestone_username: user
  openstackzuul_limestone_password: password
  openstackzuul_limestone_project_name: project
  openstackci_packethost_username: user
  openstackci_packethost_password: password
  openstackci_packethost_project_name: project
  openstackzuul_packethost_username: user
  openstackzuul_packethost_password: password
  openstackzuul_packethost_project_name: project
  openstackci_arm64ci_username: user
  openstackci_arm64ci_password: password
  openstackci_arm64ci_project_name: project
  openstackzuul_arm64ci_username: user
  openstackzuul_arm64ci_password: password
  openstackzuul_arm64ci_project_name: project
  openstackci_arm64ci_ewr1_username: user
  openstackci_arm64ci_ewr1_password: password
  openstackci_arm64ci_ewr1_project_name: project
  openstackzuul_arm64ci_ewr1_username: user
  openstackzuul_arm64ci_ewr1_password: password
  openstackzuul_arm64ci_ewr1_project_name: project
gitea_kube_key: Z2l0ZWFfazhzX2tleQ==
ansible_cron_install_cron: false
