letsencrypt_certs:
  letsencrypt01-main-service:
    - letsencrypt01.opendev.org
    - letsencrypt.opendev.org
    - alias.opendev.org
  letsencrypt01-other-service:
    - someotherservice.opendev.org