[access "refs/heads/*"]
        label-Code-Review = -2..+2 group contrail-fabric-utils-core
        label-Approved = +0..+1 group contrail-fabric-utils-core
        workInProgress = group contrail-fabric-utils-core
[access "refs/tags/*"]
        create = group contrail-fabric-utils-core
        pushTag = group contrail-fabric-utils-core
[receive]
        requireChangeId = true
        requireContributorAgreement = false
[submit]
        mergeContent = true
