[access "refs/*"]
        owner = group Administrators
        create = group heat
        pushtag = group heat
[access "refs/heads/*"]
        label-approved = +0..+1 group heat
        label-code-review = -2..+2 group heat
[project]
        state = active
[receive]
[submit]
        mergecontent = true
