[access "refs/heads/*"]
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -1..+1 group tech-committee
        label-Code-Review = -1..+2 group tech-committee-chair
        label-Approved = +0..+1 group tech-committee-chair
        workInProgress = group tech-committee
[access "refs/tags/*"]
        create = group tech-committee-chair
        pushTag = group tech-committee-chair
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
