[access "refs/heads/*"]
        label-Code-Review = -2..+2 group pycadf-core
        label-Approved = +0..+1 group pycadf-core
        workInProgress = group pycadf-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group pycadf-milestone
        label-Approved = +0..+1 group pycadf-milestone
[access "refs/tags/*"]
        create = group pycadf-core
        pushTag = group pycadf-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
