[access "refs/heads/*"]
        label-Code-Review = -2..+2 group cinder-core
        label-Approved = +0..+1 group cinder-core
        workInProgress = group cinder-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group cinder-milestone
        label-Approved = +0..+1 group cinder-milestone
[access "refs/tags/*"]
        create = group cinder-ptl
        pushTag = group cinder-ptl
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
