[access "refs/heads/*"]
        label-Code-Review = -2..+2 group nova-core
        label-Approved = +0..+1 group nova-core
        workInProgress = group nova-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group nova-milestone
        label-Approved = +0..+1 group nova-milestone
[access "refs/tags/*"]
        create = group nova-ptl
        pushTag = group nova-ptl
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
