[access "refs/heads/*"]
        label-Code-Review = -2..+2 group savanna-core
        label-Approved = +0..+1 group savanna-core
        workInProgress = group savanna-core
        create = group savanna-milestone
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group savanna-milestone
        label-Approved = +0..+1 group savanna-milestone
[access "refs/heads/stable/*"]
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -2..+2 group savanna-core
        label-Approved = +0..+1 group savanna-core
        label-Code-Review = -1..+1 group Registered Users
[access "refs/tags/*"]
        create = group savanna-ptl
        pushTag = group savanna-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
