[access "refs/heads/*"]
        label-Code-Review = -2..+2 group swiftsync-core
        label-Approved = +0..+1 group swiftsync-core
        workInProgress = group swiftsync-core
[access "refs/tags/*"]
        create = group swiftsync-core
        pushTag = group swiftsync-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
