[access "refs/*"]
    owner = group Administrators
    create = group taskflow-core
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group taskflow-core
    label-Approved = +0..+1 group taskflow-core
    workInProgress = group taskflow-core
[access "refs/heads/stable/*"]
    exclusiveGroupPermissions = label-Code-Review label-Approved
    label-Code-Review = -2..+2 group taskflow-core
    label-Code-Review = -1..+1 group Registered Users
    label-Approved = +0..+1 group taskflow-core
[access "refs/tags/*"]
    create = group taskflow-ptl
    pushTag = group taskflow-ptl
[project]
    state = active
[receive]
    requireChangeId = true
    requireContributorAgreement = true
[submit]
    mergeContent = true
