[access "refs/heads/*"]
        label-Code-Review = -2..+2 group tempest-core
        label-Approved = +0..+1 group tempest-core
        workInProgress = group tempest-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group tempest-milestone
        label-Approved = +0..+1 group tempest-milestone
[access "refs/heads/stable/*"]
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -2..+2 group tempest-core
        label-Code-Review = -1..+1 group Registered Users
        label-Approved = +0..+1 group tempest-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
