[receive]
   requireChangeId = true
   requireContributorAgreement = true
[submit]
   mergeContent = true
[access "refs/heads/*"]
   label-Code-Review = -2..+2 group diskimage-builder-core
   label-Approved = +0..+1 group diskimage-builder-core
   workInProgress = group diskimage-builder-core
[access "refs/heads/milestone-proposed"]
   label-Code-Review = -2..+2 group diskimage-builder-core
   label-Approved = +0..+1 group diskimage-builder-core
[access "refs/tags/*"]
   create = group tripleo-ptl
   pushTag = group tripleo-ptl
