[access "refs/heads/*"]
        label-Code-Review = -2..+2 group horizon-core
        label-Approved = +0..+1 group horizon-core
        workInProgress = group horizon-core
[access "refs/tags/*"]
        create = group horizon-ptl
        pushTag = group horizon-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
