[project]
    description = Rights inherited by all other projects
    state = active
[access "refs/*"]
    read = group Anonymous Users
    pushTag = group Continuous Integration Tools
    pushTag = group Project Bootstrappers
    pushTag = group Release Managers
    forgeAuthor = group Registered Users
    forgeCommitter = group Project Bootstrappers
    push = +force group Project Bootstrappers
    create = group Project Bootstrappers
    create = group Release Managers
    pushMerge = group Project Bootstrappers
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group Project Bootstrappers
    label-Code-Review = -1..+1 group Registered Users
    label-Verified = -2..+2 group Continuous Integration Tools
    label-Verified = -2..+2 group Project Bootstrappers
    label-Verified = -1..+1 group External Testing Tools
    submit = group Continuous Integration Tools
    submit = group Project Bootstrappers
    label-Approved = +0..+1 group Project Bootstrappers
[access "refs/meta/config"]
    read = group Project Owners
    push = group Administrators
[access "refs/for/refs/*"]
    push = group Registered Users
[access "refs/heads/milestone-proposed"]
    exclusiveGroupPermissions = label-Approved label-Code-Review
    label-Code-Review = -2..+2 group Project Bootstrappers
    label-Code-Review = -2..+2 group Release Managers
    label-Code-Review = -1..+1 group Registered Users
    owner = group Release Managers
    label-Approved = +0..+1 group Project Bootstrappers
    label-Approved = +0..+1 group Release Managers
[access "refs/heads/stable/*"]
    forgeAuthor = group Stable Maintainers
    forgeCommitter = group Stable Maintainers
    exclusiveGroupPermissions = label-Approved label-Code-Review
    label-Code-Review = -2..+2 group Project Bootstrappers
    label-Code-Review = -2..+2 group Stable Maintainers
    label-Code-Review = -1..+1 group Registered Users
    label-Approved = +0..+1 group Project Bootstrappers
    label-Approved = +0..+1 group Stable Maintainers
[access "refs/meta/openstack/*"]
    read = group Continuous Integration Tools
    create = group Continuous Integration Tools
    push = group Continuous Integration Tools
[capability] 
   administrateServer = group Administrators 
   priority = batch group Non-Interactive Users
    createProject = group Project Bootstrappers
[access "refs/zuul/*"]
    create = group Continuous Integration Tools
    push = +force group Continuous Integration Tools
    pushMerge = group Continuous Integration Tools
[access "refs/for/refs/zuul/*"]
    pushMerge = group Continuous Integration Tools