[defaults]
inventory=/etc/ansible/hosts/openstack.yaml,/etc/ansible/hosts/groups.yaml,/etc/ansible/hosts/emergency,/etc/ansible/secrets/secret.ini
library=/usr/share/ansible
log_path=/var/log/ansible.log
callback_plugins=/etc/ansible/callback_plugins
inventory_plugins=/etc/ansible/inventory_plugins
roles_path=/etc/ansible/roles
retry_files_enabled=False
retry_files_save_path=

[inventory]
enable_plugins=openstack,constructed,yaml,advanced_host_list,ini
cache=True
cache_plugin=jsonfile
cache_connection=/var/cache/ansible
