- job-template:
    name: '{name}-tox-doc-{envlist}'

    wrappers:
      - build-timeout:
          timeout: 40
      - timestamps

    builders:
      - revoke-sudo
      - gerrit-git-prep
      - tox:
          envlist: '{envlist}'

    publishers:
      - console-log
      - upload-to-docs-site
      - upload-doc-build-results

    node: '{node}'

- job:
    name: openstack-api-ref
    node: 'bare-precise || bare-trusty'

    builders:
      - revoke-sudo
      - gerrit-git-prep
      - tox:
          envlist: 'publishdocs-api'

    publishers:
      - console-log
      - upload-doc-build-results
      - ftp:
          site: developer.openstack.org
          source: 'publish-docs/api-ref/**'
          target: '/'
          remove-prefix: 'publish-docs/api-ref/'


# in zuul/layout.yaml specified to only run against master branch.
# this copies static files from www
- job:
    name: openstack-api-site
    node: 'bare-precise || bare-trusty'

    builders:
      - revoke-sudo
      - gerrit-git-prep

    publishers:
      - ftp:
          site: developer.openstack.org
          source: 'www/**'
          target: ''
          remove-prefix: 'www/'
          excludes: ''
      - console-log
