- job-template:
    name: '{pipeline}-gitdm'

    node: '{node}'

    builders:
      - gerrit-git-prep
      - shell: |
          #!/bin/bash -xe
          export TEMPDIR=${{TEMPDIR:-$(mktemp -d $(pwd)/dmtmp-XXXXXX)}}
          export GITBASE=${{TEMPDIR}}/git
          export LP_STATS=n
          bash ./do-it.sh
      - link-logs

    publishers:
      - console-log
