- job-template:
    name: 'gate-{name}-js-unittests'

    wrappers:
      - timeout:
          timeout: 40
          fail: true
      - timestamps

    builders:
      - gerrit-git-prep
      - shell: |
          #!/bin/bash -xe
          /usr/local/jenkins/slave_scripts/maven-properties.sh
      - inject:
          properties-file: maven.properties
      - js-build:
          command: 'test'
          envlist: 'grunt'
          github-org: '{github-org}'
          project: '{name}'
      - assert-no-extra-files

    publishers:
      - console-log
      - coverage-log
      - scp:
          site: 'static.openstack.org'
          files:
            - target: 'logs/$LOG_PATH'
              source: 'reports/**'
              keep-hierarchy: true
              copy-after-failure: true

              # We're uploading the compiled app as a pre-release sanity check,
              # much like we do with docs builds.
            - target: 'docs-draft/$LOG_PATH'
              source: 'dist/**'
              keep-hierarchy: true
              copy-after-failure: false
    node: '{node}'

- job-template:
    name: '{name}-js-release-{branch-designator}'

    builders:
      - gerrit-git-prep
      - shell: |
          #!/bin/bash -xe
          /usr/local/jenkins/slave_scripts/maven-properties.sh
      - inject:
          properties-file: maven.properties
      - js-build:
          command: 'build'
          envlist: 'grunt'
          github-org: '{github-org}'
          project: '{name}'
      - shell: |
          #!/bin/bash -xe

          # Clean/create a tarball directory
          rm -rf tarballs
          mkdir -p tarballs

          # Create an archive tarball.
          tar -czf {name}-$PROJECT_VER.tar.gz dist/
          cp {name}-$PROJECT_VER.tar.gz tarballs/{name}-latest.tar.gz
          mv {name}-$PROJECT_VER.tar.gz tarballs/
    publishers:
      - console-log
      - coverage-log
      - scp:
          site: 'static.openstack.org'
          files:
            - target: 'logs/$LOG_PATH'
              source: 'reports/**'
              keep-hierarchy: true
              copy-after-failure: true
            - target: 'tarballs/{name}/'
              source: 'tarballs/*.tar.gz'
              keep-hierarchy: false
              copy-after-failure: false
    node: '{node}'
