- job-template:
    name: '{name}-docs'
    node: precise

    triggers:
      - zuul-post

    builders:
      - gerrit-git-prep
      - docs

    publishers:
      - ftp:
          site: '{doc-publisher-site}'
          source: 'doc/build/html/**'
          target: 'developer/{name}'
          remove-prefix: 'doc/build/html'
          excludes: ''
      - console-log-post


- job-template:
    name: '{name}-tarball'
    node: precise

    triggers:
      - zuul-post

    builders:
      - gerrit-git-prep
      - tarball:
          project: '{name}'

    publishers:
      - tarball:
          project: '{name}'
          site: '{tarball-publisher-site}'
      - console-log-post


- job-template:
    name: '{name}-branch-tarball'
    concurrent: false
    node: precise

    triggers:
      - zuul-post

    builders:
      - gerrit-git-prep
      - shell: |
          #!/bin/bash -xe
          BRANCH=$ZUUL_REFNAME
          BRANCH_PATH=`echo $BRANCH | tr / -`

          tox -v -evenv python setup.py sdist
          mv dist/* dist/{name}-$BRANCH_PATH.tar.gz

    publishers:
      - tarball:
          project: '{name}'
          site: '{tarball-publisher-site}'
      - console-log-post


- job-template:
    name: '{name}-tarball-upload'
    node: precise

    triggers:
      - zuul-post

    builders:
      - gerrit-git-prep
      - shell: tox -v -evenv python setup.py sdist

    publishers:
      - tarball:
          project: '{name}'
          site: '{tarball-publisher-site}'
      - console-log-post


- job-group:
    name: openstack-publish-jobs
    jobs:
      - '{name}-docs'
      - '{name}-tarball'
      - '{name}-branch-tarball'
      - '{name}-tarball-upload'
