{{template "base/head" .}}
<div class="home">
        <div class="ui stackable middle very relaxed page grid">
                <div class="sixteen wide center aligned centered column">
                        <div class="hero" id="opendev">
                                <img alt="OpenDev" class="logo" src="/img/opendev.svg" />
                                <h2>Free Software Needs Free Tools</h2>
                        </div>
                </div>
        </div>

        <div class="ui stackable middle very relaxed page grid">
                <div class="sixteen wide left aligned centered column">
                        <p>OpenDev is a space for collaborative Open Source software development.</p>
                        <p>OpenDev’s mission is to provide project hosting, continuous integration tooling,
                        and virtual collaboration spaces for Open Source software projects. OpenDev is
                        itself self hosted on this set of tools including Code Review (Gerrit), Continuous
                        Integration (Zuul), Etherpad, Wiki (mediawiki), Code Browsing (gitea) and so on.
                        This means that OpenDev itself is run like an open source project, you
                        can join us and help run the system. Additionally all of the services we run are
                        open source software themselves.</p>

                        <h1 id="current-status">Current Status</h1>

                        <p>We are still early in the process of building this out.</p>
                        <p>Most of the services we run were inherited and rebranded from the
                        existing community run OpenStack Infrastructure. This means that while we do already
                        have many services running, there may still be some services branded as "OpenStack" while we complete the rebranding.</p>

                        <h1 id="join-us">Join Us</h1>
                        <p>As mentioned previously the OpenDev services themselves are open source software managed on top of Opendev itself. This means that in addition to using OpenDev to host your software development activities you can help us run OpenDev with all of the same tools.</p>
                        <p>If you use the system and find it useful, we’d love to have your help running it as well.</p>

                        <h1 id="faq">FAQ</h1>

                        <h2 id="isnt-this-just-openstack-infrastructure-rebranded">Isn’t this just OpenStack Infrastructure rebranded?</h2>
                        <p>It is more than that. We want to make this toolset available to others that would find it helpful. OpenStack is one of the OpenDev tenants, but other tenants like Zuul or $gizmo would be just as important.</p>

                        <h2 id="can-i-host-my-project-on-opendev">Can I host my project on OpenDev?</h2>
                        <p>Yes! However, as noted above it is still early days yet and the early experience might be a bit bumpy. Certain things may still say “OpenStack” on them as we figure out the transition. And while any moves should come with appropriate redirects, we may have some inadvertent misses.</p>

                        <h2 id="can-i-run-tests-on-windows-or-osx-machines">Can I run tests on Windows or OSX machines?</h2>
                        <p>Currently all of our test resources are Linux based. Adding additional platforms would likely require someone to help us get that running, but Zuul will support systems with ansible connection plugins. Talk to us!</p>

                        <h2 id="i-am-an-existing-openstack-infra-user-do-i-need-to-do-anything">I am an existing OpenStack Infra user do I need to do anything?</h2>
                        <p>No. We’ll continue to communicate changes as they happen. We’ll also do our best to make this as smooth a transition as possible. If we run into situations that force us to break something we’ll be sure to let you know at that point.</p>

                        <h2 id="is-a-cla-required-for-hosted-repos">Is a CLA required for hosted repos?</h2>
                        <p>No.</p>

                        <h2 id="what-if-i-dont-like-gerrit-and-would-prefer-insert-tool-here">What if I don’t like Gerrit and would prefer (insert tool here)?</h2>
                        <p>We’ve got a fair bit of experience with the existing toolset and adding new tools for which we’ve already got an answer is currently out of scope. We think the existing tools (like Gerrit) work well, and should only get better as we update them. The system is able to scale because we do not need multiple implementations of different software that solve similar problems.</p>

                        <h1 id="contact-info">Contact info</h1>
                        <p>These will be updated when moved to their new OpenDev locations</p>
                        <ul>
                                <li>Mailing list: openstack-infra@lists.openstack.org</li>
                                <li>IRC #openstack-infra on Freenode</li>
                        </ul>

                </div>
        </div>
</div>
{{template "base/footer" .}}
