[loggers]
keys=root,recheckwatchbot,elastic-recheck,irc

[handlers]
keys=console,debug,normal

[formatters]
keys=simple

[logger_root]
level=INFO
handlers=console,debug,normal

[logger_elastic-recheck]
level=DEBUG
handlers=console,debug,normal
qualname=elastic-recheck
propagate=0

[logger_recheckwatchbot]
level=DEBUG
handlers=console,debug,normal
qualname=elastic-recheck
propagate=0

[logger_irc]
level=INFO
handlers=console,debug,normal
qualname=irc
propagate=0

[handler_console]
level=WARNING
class=StreamHandler
formatter=simple
args=(sys.stdout,)

[handler_debug]
level=DEBUG
class=logging.handlers.TimedRotatingFileHandler
formatter=simple
args=('/var/log/elastic-recheck/elastic-recheck_debug.log', 'midnight', 1, 30,)

[handler_normal]
level=INFO
class=logging.handlers.TimedRotatingFileHandler
formatter=simple
args=('/var/log/elastic-recheck/elastic-recheck.log', 'midnight', 1, 30,)

[formatter_simple]
format=%(asctime)s %(levelname)s %(name)s: %(message)s
datefmt=
