[access "refs/heads/*"]
        label-Code-Review = -2..+2 group ironic-core
        label-Approved = +0..+1 group ironic-core
        workInProgress = group ironic-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group ironic-milestone
        label-Approved = +0..+1 group ironic-milestone
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
