[access "refs/heads/*"]
        label-Code-Review = -2..+2 group python-opencontrailclient-core
        label-Approved = +0..+1 group python-opencontrailclient-core
        workInProgress = group python-opencontrailclient-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group python-opencontrailclient-milestone
        label-Approved = +0..+1 group python-opencontrailclient-milestone
[access "refs/tags/*"]
        create = group python-opencontrailclient-milestone
        pushTag = group python-opencontrailclient-milestone
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
