[access "refs/heads/*"]
        label-Code-Review = -2..+2 group tripleo-core
        label-Approved = +0..+1 group tripleo-core
        workInProgress = group tripleo-core
[access "refs/tags/*"]
        create = group tripleo-ptl
        pushTag = group tripleo-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
