[access "refs/for/refs/*"]
        pushMerge = group swift-milestone
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group swift-core
        label-Approved = +0..+1 group swift-core
        workInProgress = group swift-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group swift-milestone
        label-Approved = +0..+1 group swift-milestone
[access "refs/tags/*"]
        create = group swift-ptl
        pushTag = group swift-ptl
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
