tsig_key:
  algorithm: hmac-md5
  secret: 9zO/4WnUinnLHISPgDI5Aw==
dnssec_keys:
  54873:
    zone: zuul-ci.org
    public: public_key
    private: private_key
  04765:
    zone: zuul-ci.org
    public: public_key
    private: private_key
  39885:
    zone: acme.opendev.org
    public: public_key
    private: private_key
