# If the bastion ipv4 or v6 addresses aren't available (because this
# job runs in an environment without them) just fall back to the
# defaults for the real bridge.
{% if bastion_ipv4 %}
bastion_ipv4: {{ bastion_ipv4 }}
{% endif %}
{% if bastion_ipv6 %}
bastion_ipv6: {{ bastion_ipv6 }}
{% endif %}
bastion_public_key: {{ bastion_public_key }}
iptables_test_public_tcp_ports: {{ iptables_test_public_tcp_ports }}
