# Necessary for fake clouds.yaml to be written
rackspace_username: user
rackspace_password: password
rackspace_project: project
ovh_username: user
ovh_password: password
ovh_project: project
internap_username: user
internap_password: password
internap_project: project
vexxhost_username: user
vexxhost_password: password
vexxhost_project: project
citycloud_username: user
citycloud_password: password
linaro_username: user
linaro_password: password
linaro_project: project
limestone_username: user
limestone_password: password
limestone_project: project
packethost_username: user
packethost_password: password
packethost_project: project
