# Necessary for fake clouds.yaml to be written
nodepool_rackspace_username: user
nodepool_rackspace_password: password
nodepool_rackspace_project: project
nodepool_ovh_username: user
nodepool_ovh_password: password
nodepool_ovh_project: project
nodepool_internap_username: user
nodepool_internap_password: password
nodepool_internap_project: project
nodepool_vexxhost_username: user
nodepool_vexxhost_password: password
nodepool_vexxhost_project: project
nodepool_vexxhost_kube_key: nodepool_k8s_key
nodepool_citycloud_username: user
nodepool_citycloud_password: password
nodepool_linaro_username: user
nodepool_linaro_password: password
nodepool_linaro_project: project
nodepool_linaro_london_username: user
nodepool_linaro_london_password: password
nodepool_linaro_london_project: project
nodepool_limestone_username: user
nodepool_limestone_password: password
nodepool_limestone_project: project
nodepool_packethost_username: user
nodepool_packethost_password: password
nodepool_packethost_project: project
nodepool_arm64ci_username: user
nodepool_arm64ci_password: password
nodepool_arm64ci_project: project
nodepool_arm64ci_ewr1_username: user
nodepool_arm64ci_ewr1_password: password
nodepool_arm64ci_ewr1_project: project
