---
- hosts: localhost
  connection: local
  gather_facts: false
  user: root
  roles:
    - { role: allow_all_traffic_default_secgroup, os_client_config_cloud: 'openstackci-infracloud-west' }

- hosts: localhost
  connection: local
  gather_facts: false
  user: root
  roles:
    - { role: allow_all_traffic_default_secgroup, os_client_config_cloud: 'openstackjenkins-infracloud-west' }

- hosts: localhost
  connection: local
  gather_facts: false
  user: root
  roles:
    - { role: allow_all_traffic_default_secgroup, os_client_config_cloud: 'openstackci-infracloud-east' }

- hosts: localhost
  connection: local
  gather_facts: false
  user: root
  roles:
    - { role: allow_all_traffic_default_secgroup, os_client_config_cloud: 'openstackjenkins-infracloud-east' }
