- hosts: "localhost:!disabled"
  name: "System-config: Update the system-config repo on bridge"
  connection: local
  gather_facts: false
  tasks:
    - name: Make sure k8s-on-openstack repo is up to date
      git:
        repo: https://github.com/infraly/k8s-on-openstack
        dest: /opt/k8s-on-openstack
        # HEAD as of 2018-12-20
        version: 6d94a51f5fcd6679dc88244257f79346fb4bfd4a
        force: yes

    - name: Run kubernetes deploy playbook
      command: ./run_k8s_ansible.sh
      args:
        chdir: /opt/system-config

    - name: Install cinder storage class
      k8s:
        context: gitea
        state: present
        definition: "{{ lookup('file', 'k8s/storage-class.yaml') | from_yaml }}"

# k8s-on-openstack uses the baked in ubuntu user and ssh keypairs
# to interact with the host. Our other roles assume that we'll be
# logging in directly as root. Run base-repos logging in as ubuntu
# with become: true set so that we can overwrite the root ssh key
# with the one allowing direct login from bridge.
- hosts: "kubernetes:!disabled"
  name: "Base: set up users and base package repositories on all hosts"
  remote_user: ubuntu
  become: true
  roles:
    - base-repos
