# Run JJB on all of the jenkins hosts.  Use this if JJB has exceeded
# the default puppet timeout.  Be sure to use "-f <num>" to run it in
# parallel.
---
- hosts: 'jenkins.openstack.org:~jenkins\d+.openstack.org'
  tasks:
    - name: run jjb
      shell: jenkins-jobs update --delete-old  /etc/jenkins_jobs/config
      async: 7200
      poll: 30
