---
- hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - shell: 'openstack quota set openstackjenkins --cores 800 --ram 800000 --instances 100'
      environment:
        REQUESTS_CA_BUNDLE: '/etc/openstack/infracloud_west_cacert.pem'
        OS_CLOUD: admin-infracloud-west

    - shell: 'openstack quota set openstackjenkins --cores 800 --ram 800000 --instances 100'
      environment:
        REQUESTS_CA_BUNDLE: '/etc/openstack/infracloud_east_cacert.pem'
        OS_CLOUD: admin-infracloud-east
