[access "refs/*"]
        owner = group Administrators
        create = group anvil-core
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group anvil-core
        label-Approved = +0..+1 group anvil-core
        workInProgress = group anvil-core
[access "refs/heads/stable/*"]
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -2..+2 group anvil-core
        label-Code-Review = -1..+1 group Registered Users
        label-Approved = +0..+1 group anvil-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
