[access "refs/*"]
create = group anvil-core

[access "refs/heads/*"]
abandon = group anvil-core
label-Code-Review = -2..+2 group anvil-core
label-Workflow = -1..+1 group anvil-core

[access "refs/heads/stable/*"]
abandon = group anvil-core
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group anvil-core
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group anvil-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
