[access "refs/heads/*"]
        label-Code-Review = -2..+2 group basicdb-core
        label-Approved = +0..+1 group basicdb-core
        workInProgress = group basicdb-core
[access "refs/tags/*"]
        create = group basicdb-core
        pushTag = group basicdb-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
