[access "refs/heads/*"]
        label-Code-Review = -2..+2 group billingstack-core
        label-Approved = +0..+1 group billingstack-core
[access "refs/tags/*"]
        create = group billingstack-milestone
        pushTag = group billingstack-milestone
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
