[receive]
   requireChangeId = true
   requireContributorAgreement = true
[submit]
   mergeContent = true
[access "refs/heads/*"]
   label-Code-Review = -2..+2 group bindep-core
   label-Workflow = -1..+1 group bindep-core
[access "refs/tags/*"]
   create = group bindep-core
   pushTag = group bindep-core
