[access "refs/heads/*"]
        label-Code-Review = -2..+2 group blazar-core
        label-Workflow = -1..+1 group blazar-core
        abandon = group blazar-core
[access "refs/tags/*"]
        create = group blazar-core
        pushSignedTag = group blazar-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
