[access "refs/heads/*"]
abandon = group bufunfa-core
label-Code-Review = -2..+2 group bufunfa-core
label-Workflow = -1..+1 group bufunfa-core

[access "refs/heads/proposed/*"]
abandon = group bufunfa-milestone
label-Code-Review = -2..+2 group bufunfa-milestone
label-Workflow = -1..+1 group bufunfa-milestone

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
