[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group bufunfa-core
        label-Approved = +0..+1 group bufunfa-core
        workInProgress = group bufunfa-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group bufunfa-milestone
        label-Approved = +0..+1 group bufunfa-milestone
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
