[access "refs/heads/*"]
        label-Code-Review = -2..+2 group cachemonkey-core
        label-Workflow = -1..+1 group cachemonkey-core
        abandon = group cachemonkey-core
[access "refs/tags/*"]
        pushSignedTag = group cachemonkey-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
