[access "refs/*"]
create = group chef-manager-core

[access "refs/heads/*"]
abandon = group chef-manager-core
label-Code-Review = -2..+2 group chef-manager-core
label-Workflow = -1..+1 group chef-manager-core

[access "refs/heads/stable/*"]
abandon = group chef-manager-core
exclusiveGroupPermissions = label-Code-Review label-Workflow abandon
label-Code-Review = -2..+2 group chef-manager-core
label-Workflow = -1..+1 group chef-manager-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
