[access "refs/heads/*"]
        label-Code-Review = -2..+2 group cliff-core
        label-Approved = +0..+1 group cliff-core
        workInProgress = group cliff-core
[access "refs/tags/*"]
        create = group cliff-ptl
        pushTag = group cliff-ptl
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = false
[submit]
        mergeContent = true
