[access "refs/heads/*"]
abandon = group climate-core
label-Code-Review = -2..+2 group climate-core
label-Workflow = -1..+1 group climate-core

[access "refs/tags/*"]
pushSignedTag = group climate-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
