[access "refs/heads/*"]
        label-Code-Review = -2..+2 group climate-core
        label-Approved = +0..+1 group climate-core
        workInProgress = group climate-core
[access "refs/tags/*"]
        create = group climate-core
        pushTag = group climate-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
