[access "refs/*"]
create = group openstack-doc-core

[access "refs/heads/*"]
abandon = group openstack-doc-core
label-Code-Review = -2..+2 group openstack-doc-core
label-Workflow = -1..+1 group openstack-doc-core

[access "refs/tags/*"]
pushSignedTag = group openstack-doc-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
