[access "refs/heads/*"]
abandon = group cloudkitty-core
label-Code-Review = -2..+2 group cloudkitty-core
label-Workflow = -1..+1 group cloudkitty-core

[access "refs/tags/*"]
pushSignedTag = group cloudkitty-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
