[access "refs/heads/*"]
abandon = group cloudbase-init-core
label-Code-Review = -2..+2 group cloudbase-init-core
label-Workflow = -1..+1 group cloudbase-init-core

[access "refs/tags/*"]
pushSignedTag = group cloudbase-init-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
