[access "refs/heads/*"]
        label-Code-Review = -2..+2 group community-metrics-dash-core
        label-Approved = +0..+1 group community-metrics-dash-core
        workInProgress = group community-metrics-dash-core
[access "refs/tags/*"]
        create = group community-metrics-dash-core
        pushTag = group community-metrics-dash-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true

