[access "refs/heads/*"]
        label-Code-Review = -2..+2 group compass-core
        label-Workflow = -1..+1 group compass-core
        abandon = group compass-core
[access "refs/heads/dev/*"]
        label-Code-Review = -2..+2 group compass-core
        label-Workflow = -1..+1 group compass-core
        create = group compass-core
[access "refs/for/refs/*"]
        pushMerge = group compass-core
[access "refs/tags/*"]
        create = group compass-ptl
        pushSignedTag = group compass-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
