[access "refs/for/refs/*"]
pushMerge = group compass-core

[access "refs/heads/*"]
abandon = group compass-core
label-Code-Review = -2..+2 group compass-core
label-Workflow = -1..+1 group compass-core

[access "refs/heads/dev/*"]
create = group compass-core
label-Code-Review = -2..+2 group compass-core
label-Workflow = -1..+1 group compass-core

[access "refs/tags/*"]
pushSignedTag = group compass-ptl

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
