[access "refs/heads/*"]
abandon = group designate-core
label-Code-Review = -2..+2 group designate-core
label-Workflow = -1..+1 group designate-core

[access "refs/heads/milestone-proposed"]
abandon = group designate-milestone
create = group designate-milestone
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group designate-milestone

[access "refs/heads/stable/*"]
abandon = group designate-milestone
create = group designate-milestone
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group designate-milestone

[access "refs/tags/*"]
pushSignedTag = group designate-milestone

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
