[access "refs/*"]
        owner = group Administrators
        create = group driverlog-ptl
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group driverlog-core
        label-Workflow = -1..+1 group driverlog-core
[access "refs/tags/*"]
        create = group driverlog-ptl
        pushSignedTag = group driverlog-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true

