[access "refs/*"]
        owner = group Administrators
        create = group driverlog-core
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group driverlog-core
        label-Approved = +0..+1 group driverlog-core
        workInProgress = group driverlog-core
[access "refs/tags/*"]
        create = group driverlog-core
        pushTag = group driverlog-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true

