[access "refs/heads/*"]
        label-Code-Review = -2..+2 group ec2-api-core
        label-Workflow = -1..+1 group ec2-api-core
        abandon = group ec2-api-core
[access "refs/tags/*"]
        pushSignedTag = group ec2-api-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
