[access "refs/heads/*"]
        label-Code-Review = -2..+2 group edeploy-core
        label-Approved = +0..+1 group edeploy-core
        workInProgress = group edeploy-core
[access "refs/tags/*"]
        create = group edeploy-core
        pushTag = group edeploy-core
[receive]
        requireChangeId = true
        requireContributorAgreement = false
[submit]
        mergeContent = true
