[access "refs/heads/*"]
        label-Code-Review = -2..+2 group entropy-core
        label-Workflow = -1..+1 group entropy-core
[access "refs/tags/*"]
        create = group entropy-core
        pushTag = group entropy-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
