[access "refs/heads/*"]
abandon = group entropy-core
label-Code-Review = -2..+2 group entropy-core
label-Workflow = -1..+1 group entropy-core

[access "refs/tags/*"]
pushSignedTag = group entropy-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
