[access "refs/tags/*"]
pushSignedTag = group freezer-release

[access "refs/heads/*"]
abandon = group freezer-core
label-Code-Review = -2..+2 group freezer-core
label-Workflow = -1..+1 group freezer-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
