[access "refs/heads/*"]
        label-Code-Review = -2..+2 group fuel-core
        label-Workflow = -1..+1 group fuel-core
[access "refs/heads/stable/*"]
        label-Code-Review = -2..+2 group fuel-core
        label-Workflow = -1..+1 group fuel-core
[access "refs/tags/*"]
        pushSignedTag = group fuel-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
