[access "refs/heads/*"]
        label-Code-Review = -2..+2 group fuel-provision-core
        label-Approved = +0..+1 group fuel-provision-core
        workInProgress = group fuel-provision-core
[access "refs/tags/*"]
        create = group fuel-provision-core
        pushTag = group fuel-provision-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
