[access "refs/heads/*"]
        label-Code-Review = -2..+2 group gce-api-core
        label-Workflow = -1..+1 group gce-api-core
[access "refs/tags/*"]
        create = group gce-api-managers
        pushSignedTag = group gce-api-managers
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
