[access "refs/heads/*"]
abandon = group gce-api-core
label-Code-Review = -2..+2 group gce-api-core
label-Workflow = -1..+1 group gce-api-core

[access "refs/tags/*"]
pushSignedTag = group gce-api-managers

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
