[access "refs/heads/*"]
abandon = group gerrit-dash-creator-core
label-Code-Review = -2..+2 group gerrit-dash-creator-core
label-Workflow = -1..+1 group gerrit-dash-creator-core

[access "refs/tags/*"]
pushSignedTag = group gerrit-dash-creator-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
