[access "refs/*"]
        owner = group Administrators
        create = group glazier-core
        pushTag = group glazier-core
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group glazier-core
        label-Approved = +0..+1 group glazier-core
        workInProgress = group glazier-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
