[access "refs/heads/*"]
        label-Code-Review = -2..+2 group gnocchi-core
        label-Workflow = -1..+1 group gnocchi-core
        abandon = group gnocchi-core
[access "refs/tags/*"]
        pushSignedTag = group gnocchi-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
