[access "refs/heads/*"]
abandon = group golang-client-core
label-Code-Review = -2..+2 group golang-client-core
label-Workflow = -1..+1 group golang-client-core

[access "refs/tags/*"]
pushSignedTag = group golang-client-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
