[access "refs/heads/*"]
        label-Code-Review = -2..+2 group golang-client-core
        label-Workflow = -1..+1 group golang-client-core
[access "refs/tags/*"]
        create = group golang-client-ptl
        pushTag = group golang-client-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true