[access "refs/heads/*"]
        label-Code-Review = -2..+2 group graffiti-core
        label-Workflow = -1..+1 group graffiti-core
        create = group graffiti-core
[access "refs/tags/*"]
        create = group graffiti-ptl
        pushTag = group graffiti-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
