[access "refs/heads/*"]
abandon = group group-based-policy-core
label-Code-Review = -2..+2 group group-based-policy-core
label-Workflow = -1..+1 group group-based-policy-core

[access "refs/tags/*"]
pushSignedTag = group group-based-policy-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
