[access "refs/heads/*"]
abandon = group heat-translator-core
label-Code-Review = -2..+2 group heat-translator-core
label-Workflow = -1..+1 group heat-translator-core

[access "refs/tags/*"]
pushSignedTag = group heat-translator-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
