[access "refs/heads/*"]
        label-Code-Review = -2..+2 group kickstack-core
        label-Workflow = -1..+1 group kickstack-core
[access "refs/tags/*"]
        create = group kickstack-ptl
        pushSignedTag = group kickstack-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
