[access "refs/heads/*"]
        label-Code-Review = -2..+2 group barbican-core
        label-Approved = +0..+1 group barbican-core
        workInProgress = group barbican-core
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group barbican-milestone
        label-Approved = +0..+1 group barbican-milestone
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
