[access "refs/heads/*"]
abandon = group barbican-core
label-Code-Review = -2..+2 group barbican-core
label-Workflow = -1..+1 group barbican-core

[access "refs/heads/milestone-proposed"]
abandon = group barbican-milestone
label-Code-Review = -2..+2 group barbican-milestone
label-Workflow = -1..+1 group barbican-milestone

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
