[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group libra-core
        label-Approved = +0..+1 group libra-core
        workInProgress = group libra-core
        create = group libra-drivers
[access "refs/tags/*"]
        create = group libra-drivers
        pushTag = group libra-drivers
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
