[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group libra-core
        label-Workflow = -1..+1 group libra-core
        create = group libra-milestone
[access "refs/tags/*"]
        create = group libra-milestone
        pushSignedTag = group libra-milestone
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
