[access "refs/tags/*"]
        pushSignedTag = group logaas-ptl
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group logaas-core
        label-Workflow = -1..+1 group logaas-core
        abandon = group logaas-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true