[access "refs/tags/*"]  1
        create = group logaas-core   2
        pushSignedTag = group logaas-core    3
[access "refs/heads/*"] 4
        label-Code-Review = -2..+2 group logaas-core 5
        label-Workflow = -1..+1 group logaas-core    6
        abandon = group logaas-core  7
[receive]   8
        requireChangeId = true  9
        requireContributorAgreement = true  10
[submit]    11
        mergeContent = true