[access "refs/heads/*"]
abandon = group magnetodb-core
label-Code-Review = -2..+2 group magnetodb-core
label-Workflow = -1..+1 group magnetodb-core

[access "refs/heads/milestone-proposed"]
abandon = group magnetodb-milestone
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group magnetodb-milestone
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group magnetodb-milestone

[access "refs/heads/stable/*"]
abandon = group magnetodb-milestone
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group magnetodb-milestone
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group magnetodb-milestone

[access "refs/tags/*"]
pushSignedTag = group magnetodb-ptl

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
