[access "refs/heads/proposed/*"]
        label-Code-Review = -2..+2 group magnetodb-milestone
        label-Workflow = -1..+1 group magnetodb-milestone
        abandon = group magnetodb-milestone
        exclusiveGroupPermissions = label-Code-Review label-Workflow abandon
        label-Code-Review = -1..+1 group Registered Users
[access "refs/heads/stable/*"]
        label-Code-Review = -2..+2 group magnetodb-milestone
        label-Workflow = -1..+1 group magnetodb-milestone
        abandon = group magnetodb-milestone
        exclusiveGroupPermissions = label-Code-Review label-Workflow abandon
        label-Code-Review = -1..+1 group Registered Users
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group magnetodb-core
        label-Workflow = -1..+1 group magnetodb-core
        abandon = group magnetodb-core
[access "refs/tags/*"]
        create = group magnetodb-ptl
        pushSignedTag = group magnetodb-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
