[access "refs/*"]
        owner = group Administrators
        crete = group manila-core
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group manila-core
        label-Approved = +0..+1 group manila-core
        workInProgress = group manila-core
[access "refs/heads/stable/*"]
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -2..+2 group manila-core
        label-Code-Review = -1..+1 group Registered Users
        label-Approved = +0..+1 group manila-core
[access "refs/tags/*"]
        create = group manila-ptl
        pushTag = group manila-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
