[access "refs/heads/*"]
abandon = group mistral-core
label-Code-Review = -2..+2 group mistral-core
label-Workflow = -1..+1 group mistral-core

[access "refs/heads/milestone-proposed"]
abandon = group mistral-milestone
exclusiveGroupPermissions = label-Code-Review label-Workflow abandon
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group mistral-milestone

[access "refs/heads/release-*"]
abandon = group mistral-milestone
exclusiveGroupPermissions = label-Code-Review label-Workflow abandon
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group mistral-milestone

[access "refs/heads/stable/*"]
abandon = group mistral-milestone
exclusiveGroupPermissions = label-Code-Review label-Workflow abandon
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group mistral-milestone

[access "refs/tags/*"]
pushSignedTag = group mistral-milestone

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
