[access "refs/heads/*"]
abandon = group monasca-core
label-Code-Review = -2..+2 group monasca-core
label-Workflow = -1..+1 group monasca-core

[access "refs/tags/*"]
pushSignedTag = group monasca-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
