[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group moniker-core
        label-Approved = +0..+1 group moniker-core
[access "refs/tags/*"]
        create = group moniker-drivers
        pushTag = group moniker-drivers
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
