[access "refs/*"]
owner = group Administrators

[access "refs/heads/*"]
abandon = group mraas-core
label-Code-Review = -2..+2 group mraas-core
label-Workflow = -1..+1 group mraas-core

[receive]
requireChangeId = true
requireContributorAgreement = true
requireShortMessage = true

[submit]
mergeContent = true
