[access "refs/heads/*"]
abandon = group murano-core
create = group murano-milestone
label-Code-Review = -2..+2 group murano-core
label-Workflow = -1..+1 group murano-core

[access "refs/heads/milestone-proposed"]
abandon = group murano-milestone
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group murano-milestone
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group murano-milestone

[access "refs/heads/release-*"]
abandon = group murano-milestone
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group murano-milestone
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group murano-milestone

[access "refs/heads/stable/*"]
abandon = group murano-milestone
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group murano-milestone
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group murano-milestone

[access "refs/tags/*"]
pushSignedTag = group murano-milestone

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
