[access "refs/heads/*"]
        label-Code-Review = -2..+2 group nova-docker-core
        label-Approved = +0..+1 group nova-docker-core
        workInProgress = group nova-docker-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
