[access "refs/heads/*"]
        label-Code-Review = -2..+2 group project-name-core
        label-Approved = +0..+1 group project-name-core
        workInProgress = group project-name-core
[access "refs/tags/*"]
        create = group project-name-core
        pushTag = group project-name-core
[receive]
        requireChangeId = true
        requireContributorAgreement = false
[submit]
        mergeContent = true
