[access "refs/heads/*"]
abandon = group nova-solver-scheduler-core
label-Code-Review = -2..+2 group nova-solver-scheduler-core
label-Workflow = -1..+1 group nova-solver-scheduler-core

[access "refs/tags/*"]
pushSignedTag = group nova-solver-scheduler-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
