[access "refs/heads/*"]
        label-Code-Review = -2..+2 group occi-core
        label-Approved = +0..+1 group occi-core
        workInProgress = group occi-core
[access "refs/tags/*"]
        create = group occi-core
        pushTag = group occi-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true