[access "refs/heads/*"]
abandon = group octavia-core
label-Code-Review = -2..+2 group octavia-core
label-Workflow = -1..+1 group octavia-core

[access "refs/tags/*"]
pushSignedTag = group octavia-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
