[access "refs/heads/*"]
        label-Code-Review = -2..+2 group php-sdk-core
        label-Workflow = -1..+1 group php-sdk-core
[access "refs/tags/*"]
        create = group php-sdk-ptl
        pushSignedTag = group php-sdk-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true