[access "refs/heads/*"]
        label-Code-Review = -2..+2 group openstackdroid-core
        label-Workflow = -1..+1 group openstackdroid-core
[access "refs/tags/*"]
        create = group openstackdroid-ptl
        pushSignedTag = group openstackdroid-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
