[access "refs/heads/*"]
abandon = group openvz-nova-driver-core
label-Code-Review = -2..+2 group openvz-nova-driver-core
label-Workflow = -1..+1 group openvz-nova-driver-core

[access "refs/heads/milestone-proposed"]
abandon = group openvz-nova-driver-core
label-Code-Review = -2..+2 group openvz-nova-driver-core
label-Workflow = -1..+1 group openvz-nova-driver-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
