[access "refs/heads/*"]
        label-Code-Review = -2..+2 group cloud-cafe-core
        label-Workflow = -1..+1 group cloud-cafe-core
[access "refs/tags/*"]
        create = group cloud-cafe-core
        pushSignedTag = group cloud-cafe-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
