[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group openstacksdk-core
        label-Approved = +0..+1 group openstacksdk-core
[access "refs/tags/*"]
        create = group openstacksdk-ptl
        pushTag = group openstacksdk-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
