[access "refs/heads/*"]
        label-Code-Review = -2..+2 group cli-powershell-core
        label-Workflow = -1..+1 group cli-powershell-core
[access "refs/tags/*"]
        create = group cli-powershell-ptl
        pushTag = group cli-powershell-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true