[access "refs/heads/*"]
        label-Code-Review = -2..+2 group openstackdroid-core
        label-Approved = +0..+1 group openstackdroid-core
        workInProgress = group openstackdroid-core
[access "refs/tags/*"]
        create = group openstackdroid-ptl
        pushTag = group openstackdroid-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
