[access "refs/heads/*"]
        label-Code-Review = -2..+2 group ospurge-core
        label-Workflow = -1..+1 group ospurge-core
[access "refs/tags/*"]
        create = group ospurge-ptl
        pushSignedTag = group ospurge-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = false
[submit]
        mergeContent = true
