[access "refs/*"]
        owner = group Administrators
        create = group packstack-core
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group packstack-core
        label-Workflow = -1..+1 group packstack-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
