[access "refs/*"]
create = group packstack-core
owner = group Administrators

[access "refs/heads/*"]
abandon = group packstack-core
label-Code-Review = -2..+2 group packstack-core
label-Workflow = -1..+1 group packstack-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
