[access "refs/heads/*"]
        label-Code-Review = -2..+2 group pecan-core
        label-Workflow = -1..+1 group pecan-core
[access "refs/tags/*"]
        create = group pecan-ptl
        pushTag = group pecan-ptl
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = false
[submit]
        mergeContent = true
