[access "refs/heads/*"]
        label-Code-Review = -2..+2 group pecan-core
        label-Approved = +0..+1 group pecan-core
        workInProgress = group pecan-core
[access "refs/tags/*"]
        create = group pecan-core
        pushTag = group pecan-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = false
[submit]
        mergeContent = true
