[access "refs/heads/*"]
        label-Code-Review = -2..+2 group php-client-core
        label-Approved = +0..+1 group php-client-core
        workInProgress = group php-client-core
[access "refs/tags/*"]
        create = group php-client-drivers
        pushTag = group php-client-drivers
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true