[access "refs/heads/*"]
abandon = group powervc-driver-core
label-Code-Review = -2..+2 group powervc-driver-core
label-Workflow = -1..+1 group powervc-driver-core

[access "refs/tags/*"]
pushSignedTag = group powervc-driver-ptl

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
