[access "refs/heads/*"]
abandon = group powervc-driver-core
label-Code-Review = -2..+2 group powervc-driver-core
label-Workflow = -1..+1 group powervc-driver-core

[access "refs/heads/stable/*"]
abandon = group powervc-driver-core
create = group powervc-driver-core
label-Code-Review = -2..+2 group powervc-driver-core
label-Workflow = -1..+1 group powervc-driver-core

[access "refs/tags/*"]
create = group powervc-driver-ptl
pushSignedTag = group powervc-driver-ptl

[project]
state = active

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
