[access "refs/heads/*"]
        label-Code-Review = -2..+2 group powervc-driver-core
        label-Approved = +0..+1 group powervc-driver-core
        workInProgress = group powervc-driver-core
[access "refs/tags/*"]
        create = group powervc-driver-core
        pushTag = group powervc-driver-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
