[access "refs/*"]
        owner = group Administrators
        create = group puppet-ceph-core
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group puppet-ceph-core
        label-Approved = +0..+1 group puppet-ceph-core
        workInProgress = group puppet-ceph-core
[access "refs/tags/*"]
        pushTag = group puppet-ceph-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = false
[submit]
        mergeContent = true
