[access "refs/*"]
create = group puppet-manager-core
owner = group Administrators

[access "refs/heads/*"]
abandon = group puppet-manager-core
label-Code-Review = -2..+2 group puppet-manager-core
label-Workflow = -1..+1 group puppet-manager-core

[access "refs/heads/stable/*"]
abandon = group puppet-manager-core
exclusiveGroupPermissions = label-Code-Review label-Workflow abandon
label-Code-Review = -2..+2 group puppet-manager-core
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group puppet-manager-core

[access "refs/tags/*"]
pushSignedTag = group puppet-manager-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
