[access "refs/heads/*"]
abandon = group puppet-manila-core
label-Code-Review = -2..+2 group puppet-manila-core
label-Workflow = -1..+1 group puppet-manila-core

[access "refs/tags/*"]
pushSignedTag = group puppet-manila-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
