[access "refs/*"]
create = group puppet-ceph-core

[access "refs/heads/*"]
abandon = group puppet-ceph-core
label-Code-Review = -2..+2 group puppet-ceph-core
label-Workflow = -1..+1 group puppet-ceph-core

[access "refs/tags/*"]
pushSignedTag = group puppet-ceph-core

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
