[access "refs/heads/*"]
        label-Code-Review = -2..+2 group puppet-n1k-vsm-core
        label-Workflow = -1..+1 group puppet-n1k-vsm-core
        abandon = group puppet-n1k-vsm-core
[access "refs/tags/*"]
        pushSignedTag = group puppet-n1k-vsm-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
