[access "refs/heads/*"]
        label-Code-Review = -2..+2 group puppet-pacemaker-core
        label-Approved = +0..+1 group puppet-pacemaker-core
        workInProgress = group puppet-pacemaker-core
[access "refs/tags/*"]
        create = group puppet-pacemaker-core
        pushTag = group puppet-pacemaker-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
