[access "refs/heads/*"]
abandon = group python-ipmi-core
label-Code-Review = -2..+2 group python-ipmi-core
label-Workflow = -1..+1 group python-ipmi-core

[access "refs/tags/*"]
pushSignedTag = group python-ipmi-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
