[access "refs/heads/*"]
abandon = group magnetodb-core
label-Code-Review = -2..+2 group magnetodb-core
label-Workflow = -1..+1 group magnetodb-core

[access "refs/tags/*"]
pushSignedTag = group magnetodb-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
