[access "refs/heads/*"]
        label-Code-Review = -2..+2 group tuskar-core
        label-Approved = +0..+1 group tuskar-core
        workInProgress = group tuskar-core
[access "refs/tags/*"]
        create = group tuskar-core
        pushTag = group tuskar-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
