[access "refs/heads/*"]
abandon = group python-opentsdbclient-core
label-Code-Review = -2..+2 group python-opentsdbclient-core
label-Workflow = -1..+1 group python-opentsdbclient-core

[access "refs/tags/*"]
pushSignedTag = group python-opentsdbclient-milestone

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
