[access "refs/heads/*"]
        label-Code-Review = -2..+2 group designate-core
        label-Workflow = -1..+1 group designate-core
[access "refs/tags/*"]
        create = group designate-milestone
        pushSignedTag = group designate-milestone
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
