[access "refs/heads/*"]
        label-Workflow = -1..+1 group python-jenkins-core
        label-Code-Review = -2..+2 group python-jenkins-core
[access "refs/tags/*"]
        create = group python-jenkins-ptl
        pushSignedTag = group python-jenkins-ptl
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
