[access "refs/*"]
create = group python-jenkins-ptl

[access "refs/heads/*"]
abandon = group python-jenkins-core
label-Code-Review = -2..+2 group python-jenkins-core
label-Workflow = -1..+1 group python-jenkins-core

[access "refs/tags/*"]
pushSignedTag = group python-jenkins-ptl

[receive]
requireChangeId = true

[submit]
mergeContent = true
