[access "refs/*"]
        owner = group Administrators
        create = group reddwarf-drivers
        pushtag = group reddwarf-drivers
[access "refs/heads/*"]
        label-code-review = -2..+2 group reddwarf-drivers
        label-approved = +0..+1 group reddwarf-drivers
[receive]
        requirechangeid = true
        requirecontributoragreement = true
[submit]
        mergecontent = true
