[access "refs/heads/*"]
label-Code-Review = -2..+2 group rack-core
label-Workflow = -1..+1 group rack-core
abandon = group rack-core

[access "refs/tags/*"]
create = group rack-ptl
pushSignedTag = group rack-ptl

[project]
state = active

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
