[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-Code-Review = -2..+2 group reddwarf-drivers
        label-Approved = +0..+1 group reddwarf-drivers
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
