[access "refs/heads/*"]
abandon = group refstack-core
label-Code-Review = -2..+2 group refstack-core
label-Workflow = -1..+1 group refstack-core

[access "refs/tags/*"]
pushSignedTag = group refstack-ptl

[receive]
requireContributorAgreement = true
requrieChangeId = true

[submit]
mergeContent = true
