[access "refs/heads/*"]
abandon = group requests-mock-core
create = group requests-mock-release
label-Code-Review = -2..+2 group requests-mock-core
label-Workflow = -1..+1 group requests-mock-core

[access "refs/tags/*"]
pushSignedTag = group requests-mock-release

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
