[access "refs/heads/*"]
    label-Code-Review = -2..+2 group rubick-core
    label-Approved = +0..+1 group rubick-core
    workInProgress = group rubick-core
[access "refs/tags/*"]
    create = group rubick-ptl
    pushTag = group rubick-ptl
[receive]
    requrieChangeId = true
    requireContributorAgreement = true
[submit]
    mergeContent = true
