[access "refs/heads/*"]
abandon = group sahara-guestagent-core
label-Code-Review = -2..+2 group sahara-guestagent-core
label-Workflow = -1..+1 group sahara-guestagent-core

[access "refs/heads/stable/*"]
abandon = group sahara-guestagent-core
exclusiveGroupPermissions = label-Code-Review label-Workflow abandon
label-Code-Review = -2..+2 group sahara-guestagent-core
label-Code-Review = -1..+1 group Registered Users
label-Workflow = -1..+1 group sahara-guestagent-core

[access "refs/tags/*"]
create = group sahara-guestagent-milestone
pushSignedTag = group sahara-guestagent-milestone

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
