[access "refs/heads/*"]
abandon = group salt-formula-core
label-Code-Review = -2..+2 group salt-formula-core
label-Workflow = -1..+1 group salt-formula-core

[access "refs/tags/*"]
pushSignedTag = group salt-formula-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
