[access "refs/heads/*"]
abandon = group saml-generator-core
label-Code-Review = -2..+2 group saml-generator-core
label-Workflow = -1..+1 group saml-generator-core

[access "refs/tags/*"]
pushSignedTag = group saml-generator-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
