[access "refs/heads/*"]
	label-Code-Review = -2..+2 group solum-core
	label-Approved = +0..+1 group solum-core
	workInProgress = group solum-core
[access "refs/tags/*"]
	create = group solum-core
	pushTag = group solum-core
[receive]
	requireChangeId = true
	requireContributorAgreement = false
[submit]
	mergeContent = true
