[access "refs/heads/*"]
        label-Code-Review = -2..+2 group sphinxcontrib-docbookrestapi-core
        label-Workflow = -1..+1 group sphinxcontrib-docbookrestapi-core
[access "refs/tags/*"]
        create = group sphinxcontrib-docbookrestapi-core
        pushSignedTag = group sphinxcontrib-docbookrestapi-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
