[access "refs/heads/*"]
abandon = group sqlalchemy-migrate-core
label-Code-Review = -2..+2 group sqlalchemy-migrate-core
label-Workflow = -1..+1 group sqlalchemy-migrate-core

[access "refs/tags/*"]
pushSignedTag = group sqlalchemy-migrate-core

[receive]
requireChangeId = true

[submit]
mergeContent = true
