[access "refs/heads/*"]
abandon = group stacktach-core
label-Code-Review = -2..+2 group stacktach-core
label-Workflow = -1..+1 group stacktach-core

[access "refs/tags/*"]
pushSignedTag = group stacktach-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
