[access "refs/heads/*"]
abandon = group staccato-core
label-Code-Review = -2..+2 group staccato-core
label-Workflow = -1..+1 group staccato-core

[access "refs/tags/*"]
pushSignedTag = group staccato-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
