[access "refs/heads/*"]
        label-Code-Review = -2..+2 group stacktach-core
        label-Workflow = -1..+1 group stacktach-core
[project]
        state = active
[access "refs/tags/*"]
        create = group stacktach-ptl
        pushTag = group stacktach-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
