[access "refs/heads/*"]
        label-Code-Review = -2..+2 group staccato-core
        label-Approved = +0..+1 group staccato-core
        workInProgress = group staccato-core
[access "refs/tags/*"]
        create = group staccato-core
        pushTag = group staccato-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
