[access "refs/heads/*"]
        label-Code-Review = -2..+2 group stevedore-core
        label-Approved = +0..+1 group stevedore-core
        workInProgress = group stevedore-core
[access "refs/tags/*"]
        create = group stevedore-ptl
        pushTag = group stevedore-ptl
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = false
[submit]
        mergeContent = true
