[access "refs/heads/*"]
        label-Code-Review = -2..+2 group subunit2sql-core
        label-Workflow = -1..+1 group subunit2sql-core
        abandon = group subunit2sql-core
[access "refs/tags/*"]
        pushSignedTag = group subunit2sql-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = False
[submit]
        mergeContent = true
