[access "refs/heads/*"]
label-Code-Review = -2..+2 group swiftpolicy-core
label-Workflow = -1..+1 group swiftpolicy-core
abandon = group swiftpolicy-core

[access "refs/tags/*"]
create = group swiftpolicy-ptl
pushTag = group swiftpolicy-ptl

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
