[access "refs/heads/*"]
        label-Code-Review = -2..+2 group swift3-core
        label-Workflow = -1..+1 group swift3-core
[access "refs/tags/*"]
        create = group swift3-ptl
        pushTag = group swift3-ptl
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
