[access "refs/heads/*"]
label-Code-Review = -2..+2 group swiftpolicy-core
label-Workflow = -1..+1 group swiftpolicy-core
abandon = group swiftpolicy-core

[access "refs/tags/*"]
create = group swiftpolicy-release
pushTag = group swiftpolicy-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
