[access "refs/heads/*"]
    abandon = group swiftonfile-core
    label-Code-Review = -2..+2 group swiftonfile-core
    label-Workflow = -1..+1 group swiftonfile-core

[access "refs/tags/*"]
    pushSignedTag = group swiftonfile-release

[receive]
    requireChangeId = true
    requireContributorAgreement = false

[submit]
    mergeContent = true
