[access "refs/heads/*"]
abandon = group swift-ceph-backend-core
label-Code-Review = -2..+2 group swift-ceph-backend-core
label-Workflow = -1..+1 group swift-ceph-backend-core

[access "refs/tags/*"]
pushSignedTag = group swift-ceph-backend-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
