[access "refs/heads/*"]
        label-Code-Review = -2..+2 group tacker-core
        label-Workflow = -1..+1 group tacker-core
        abandon = group tacker-core
[access "refs/tags/*"]
        pushSignedTag = group tacker-ptl
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
