[access "refs/heads/*"]
        label-Code-Review = -2..+2 group tomograph-core
        label-Approved = +0..+1 group tomograph-core
        workInProgress = group tomograph-core
[access "refs/tags/*"]
        create = group tomograph-core
        pushTag = group tomograph-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
