[access "refs/heads/*"]
        label-Code-Review = -2..+2 group tooz-core
        label-Workflow = -1..+1 group tooz-core
[access "refs/tags/*"]
        create = group tooz-core
        pushTag = group tooz-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
