[access "refs/heads/*"]
abandon = group tricircle-core
label-Code-Review = -2..+2 group tricircle-core
label-Workflow = -1..+1 group tricircle-core

[access "refs/tags/*"]
pushSignedTag = group tricircle-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
