[access "refs/heads/*"]
abandon = group tripleo-ansible-core
label-Code-Review = -2..+2 group tripleo-ansible-core
label-Workflow = -1..+1 group tripleo-ansible-core

[access "refs/tags/*"]
pushSignedTag = group tripleo-ansible-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
