[access "refs/heads/*"]
abandon = group turbo-hipster-core
label-Code-Review = -2..+2 group turbo-hipster-core
label-Workflow = -1..+1 group turbo-hipster-core

[access "refs/tags/*"]
pushSignedTag = group turbo-hipster-core

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
