[access "refs/heads/*"]
        label-Code-Review = -2..+2 group tuskar-ui-extras-core
        label-Workflow = -1..+1 group tuskar-ui-extras-core
        abandon = group tuskar-ui-extras-core
[access "refs/tags/*"]
        pushSignedTag = group tuskar-ui-extras-release
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
