[access "refs/heads/*"]
        label-Code-Review = -2..+2 group warm-core
        label-Workflow = -1..+1 group warm-core
[access "refs/tags/*"]
        create = group warm-ptl
        pushTag = group warm-ptl
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = false
[submit]
        mergeContent = true
