[access "refs/heads/*"]
        label-Code-Review = -2..+2 group warm-core
        label-Approved = +0..+1 group warm-core
        workInProgress = group warm-core
[access "refs/tags/*"]
        create = group warm-core
        pushTag = group warm-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true