[access "refs/heads/*"]
        label-Code-Review = -2..+2 group wsme-core
        label-Workflow = -1..+1 group wsme-core
[access "refs/tags/*"]
        create = group wsme-ptl
        pushTag = group wsme-ptl
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = false
[submit]
        mergeContent = true
