[access "refs/heads/*"]
        label-Code-Review = -2..+2 group xenapi-os-testing-core
        label-Approved = +0..+1 group xenapi-os-testing-core
        workInProgress = group xenapi-os-testing-core
[access "refs/tags/*"]
        create = group xenapi-os-testing-core
        pushTag = group xenapi-os-testing-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
