[access "refs/heads/*"]
abandon = group xenapi-os-testing-core
label-Code-Review = -2..+2 group xenapi-os-testing-core
label-Workflow = -1..+1 group xenapi-os-testing-core

[access "refs/tags/*"]
pushSignedTag = group xenapi-os-testing-ptl

[project]
state = active

[receive]
requireChangeId = true

[submit]
mergeContent = true
