[access "refs/heads/*"]
        label-Code-Review = -2..+2 group xstatic-core
        label-Workflow = -1..+1 group xstatic-core
        abandon = group xstatic-core
[access "refs/tags/*"]
        pushSignedTag = group xstatic-core
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
