*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:openstack-INPUT - [0:0]
-A INPUT -j openstack-INPUT
-A openstack-INPUT -i lo -j ACCEPT
-A openstack-INPUT -p icmp --icmp-type any -j ACCEPT
#-A openstack-INPUT -p udp --dport 5353 -d 224.0.0.251 -j ACCEPT
-A openstack-INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
# SSH from anywhere
-A openstack-INPUT -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT
# Public TCP ports
{% for port in iptables_public_tcp_ports %}
-A openstack-INPUT -m state --state NEW -m tcp -p tcp --dport {% port %} -j ACCEPT
# Public UDP ports
{% for port in iptables_public_udp_ports %}
-A openstack-INPUT -m udp -p udp --dport {% port %} -j ACCEPT
{% endfor %}
# Per-host rules
{% for rule in iptables_rules_v4 %}
-A openstack-INPUT <%= rule %>
{% endfor %}
{% for host in iptables_allowed_hosts -%}
{% for addr in host['hostname'] | get_ips -%}
-A openstack-INPUT {% if host['protocol'] == 'tcp' %}-m state --state NEW {% end %} -m {% host['protocol'] %} -p {% host['protocol'] %} -s {% addr %} --dport {% host['port'] %} -j ACCEPT
{% end -%}
{% end -%}
-A openstack-INPUT -j REJECT --reject-with icmp-host-prohibited
COMMIT
