{
    "short_name": "OpenDev",
    "name": "OpenDev",
    "icons": [
      {
        "src": "{{AppSubUrl}}/img/opendev-lg.png",
        "type": "image/png",
        "sizes": "880x880"
      },
      {
        "src": "{{AppSubUrl}}/img/opendev-sm.png",
        "type": "image/png",
        "sizes": "120x120"
      },
      {
        "src": "{{AppSubUrl}}/img/opendev-512.png",
        "type": "image/png",
        "sizes": "512x512"
      },
      {
        "src": "{{AppSubUrl}}/img/opendev-192.png",
        "type": "image/png",
        "sizes": "192x192"
      }
    ],
    "start_url": "{{AppSubUrl}}/",
    "scope": "{{AppSubUrl}}/",
    "background_color": "#FAFAFA",
    "display": "standalone",
    "theme_color": "{{ThemeColorMetaTag}}"
  }