[access "refs/heads/*"]
        label-Approved = +0..+1 group cookiecutter-core
        label-Code-Review = -2..+2 group cookiecutter-core
        workInProgress = group cookiecutter-core
[access "refs/tags/*"]
        create = group cookiecutter-core
        pushTag = group cookiecutter-core
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
