[access "refs/heads/*"]
        label-Code-Review = -2..+2 group devstack-core
        label-Approved = +0..+1 group devstack-core
        workInProgress = group devstack-core
[access "refs/heads/stable/*"]
        exclusiveGroupPermissions = label-Code-Review label-Approved
        label-Code-Review = -2..+2 group devstack-core
        label-Code-Review = -1..+1 group Registered Users
        label-Approved = +0..+1 group devstack-core
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
