[access "refs/*"]
        create = group hacking-ptl
[access "refs/heads/*"]
        label-Approved = +0..+1 group hacking-core
        label-Code-Review = -2..+2 group hacking-core
        workInProgress = group hacking-core
[access "refs/tags/*"]
        create = group hacking-ptl
        pushTag = group hacking-ptl
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
