[access "refs/heads/*"]
        label-Approved = +0..+1 group pbr-core
        label-Code-Review = -2..+2 group pbr-core
        workInProgress = group pbr-core
[access "refs/tags/*"]
        create = group pbr-core
        pushTag = group pbr-core
[project]
        state = active
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
