[access "refs/heads/*"]
abandon = group bashate-core
label-Code-Review = -2..+2 group bashate-core
label-Workflow = -1..+1 group bashate-core

[access "refs/tags/*"]
pushSignedTag = group bashate-ptl

[project]
status = active

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
