[access "refs/heads/*"]
        label-Code-Review = -2..+2 group bash8-core
        label-Workflow = -1..+1 group bash8-core
[access "refs/tags/*"]
        create = group bash8-ptl
        pushSignedTag = group bash8-ptl
[project]
        status = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
