[access "refs/heads/*"]
        label-code-review = -2..+2 group devstack-core
        label-approved = +0..+1 group devstack-core
[access "refs/heads/stable/*"]
        exclusivegrouppermissions = label-Code-Review label-Approved
        label-code-review = -1..+1 group Registered Users
        label-approved = +0..+1 group devstack-core
[project]
        state = active
[receive]
        requirechangeid = true
        requirecontributoragreement = true
[submit]
        mergecontent = true
