[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-code-review = -2..+2 group openstack-nose-core
        label-approved = +0..+1 group openstack-nose-core
[access "refs/heads/milestone-proposed"]
        label-code-review = -2..+2 group openstack-nose-drivers
        label-approved = +0..+1 group openstack-nose-drivers
[receive]
        requirechangeid = true
        requirecontributoragreement = true
        requireshortmessage = true
[submit]
        mergecontent = true
