[access "refs/heads/*"]
        label-code-review = -2..+2 group openstack-nose-core
        label-approved = +0..+1 group openstack-nose-core
[access "refs/heads/milestone-proposed"]
        label-code-review = -2..+2 group openstack-nose-drivers
        label-approved = +0..+1 group openstack-nose-drivers
[project]
        state = active
[receive]
        requirechangeid = true
        requirecontributoragreement = true
[submit]
        mergecontent = true
