[access "refs/heads/*"]
abandon = group openstack-nose-core
label-Code-Review = -2..+2 group openstack-nose-core
label-Workflow = -1..+1 group openstack-nose-core

[access "refs/heads/milestone-proposed"]
abandon = group openstack-nose-milestone
label-Code-Review = -2..+2 group openstack-nose-milestone
label-Workflow = -1..+1 group openstack-nose-milestone

[project]
state = active

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
