[access "refs/heads/*"]
        label-Verified = -1..+1 group Third-Party CI
        label-Code-Review = -2..+2 group Registered Users
        label-Workflow = -1..+1 group Registered Users
[access "refs/heads/milestone-proposed"]
        label-Verified = -1..+1 group Third-Party CI
        label-Code-Review = -2..+2 group Registered Users
        label-Workflow = -1..+1 group Registered Users
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
