[access "refs/*"]
        owner = group Administrators
[access "refs/heads/*"]
        label-code-review = -2..+2 group openstack-cla
        label-approved = +0..+1 group openstack-cla
[access "refs/heads/milestone-proposed"]
        label-code-review = -2..+2 group openstack-cla
        label-approved = +0..+1 group openstack-cla
[receive]
        requirechangeid = true
        requirecontributoragreement = true
[submit]
        mergecontent = true
