[access "refs/heads/*"]
        label-Code-Review = -2..+2 group openstack-cla
        label-Approved = +0..+1 group openstack-cla
        workInProgress = group openstack-cla
[access "refs/heads/milestone-proposed"]
        label-Code-Review = -2..+2 group openstack-cla
        label-Approved = +0..+1 group openstack-cla
[project]
        state = active
[receive]
        requireChangeId = true
        requireContributorAgreement = true
[submit]
        mergeContent = true
